<div class="group-wrapper" [formGroup]="formGroup">
    <div class="edit-group">
        <div class="edit-group-form">
            <div class="fields">
                <div>
                    <mat-form-field class="icon">
                        <mat-label>{{'Icon' | translate}}</mat-label>
                        <mat-icon matPrefix>{{this.formGroup.controls.icon.value}}</mat-icon>
                        <input matInput formControlName="icon" [iconPicker]="this.formGroup.controls.icon.value"
                            [ipIconPack]="['mat']" [ipFallbackIcon]="'poll'" [ipPosition]="'right'" 
                            [ipButtonStyleClass]="'mat-raised-button'" [ipMaxHeight]="'160px'"
                            (iconPickerSelect)="onIconPickerSelect($event)" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>{{'Title' | translate}}</mat-label>
                        <input matInput formControlName="title" (change)="updatePreview()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-error *ngIf="formGroup.controls.content.touched && formGroup.controls.content.invalid">
                        {{ contentTypeValue.length | i18nPlural:{
                            '=1': 'The widget within isn\'t valid' | translate, 
                            'other': 'The widgets within aren\'t valid' | translate
                        } }}
                    </mat-error>
                </div>
            </div>
            <div class="edit-widgets">
                    <button *ngFor="let comp of contentTypeValue; index as ci;" mat-raised-button (click)="editWidget(ci)" [matTooltip]="content.controls[ci].value.widgetData?.dataStep?.name">
                        <div class="invalid-widget-edition" *ngIf="!content.controls[ci].valid" [matTooltip]="'The widget has invalid inputs. Edit to fix them.' | translate">!</div>
                        <mat-icon>edit</mat-icon>
                        {{('Edit' | translate) + ' ' + content.controls[ci].value.widgetData?.dataStep?.name}}
                    </button>
                    <button  class="add" mat-raised-button (click)="addWidget()">
                        <mat-icon>add</mat-icon>
                        {{'Add a widget' | translate}}
                    </button>
            </div>
        </div>
    </div>
    <div class="preview-group" *ngIf="formGroup.value.preview.length > 0">
        <arlas-analytics-board [groups]="formGroup.value.preview" [showSpinner]="true"></arlas-analytics-board>
    </div>
    <div class="preview-placeholder" *ngIf="formGroup.value.preview.length == 0"></div>
</div>