/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "variables.scss";
@import "theme.scss";

.group-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-height: 170px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    .edit-group {
        flex-grow: 1;
    }

    .edit-group {
        width: 480px;
    }

    .edit-group-form {
        padding: 10px;
        margin: 2px;
        border-radius: 4px;
        display: flex;
        background-color: white;
        flex-direction: column;

        .fields {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .icon {
                width: 24px !important;
                height: 24px;
                display: flex;

                .icon-picker-input {
                    width: 0;
                    border-width: 0;
                    padding: 0;
                }

                ::ng-deep .icon-picker {
                    .icon-search {
                        input {
                            width: 95%;
                            padding: 5px;
                        }
                    }

                    .ip-button-icon {
                        background-color: white;
                        border-width: 1px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .edit-widgets {
            display: inline-block;
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                float: left;
            }
            div:not(.container):not(.add) {
                margin: 0 5px 5px 0;
                padding-left: 10px;
                height: 35px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                float: left;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
            span {
                text-overflow: ellipsis;
                width: 110px;
                white-space: nowrap; /*keep text on one line */
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
            }
            .add {
                float: left;
                border: unset;
                padding-left: 0;
                .import {
                    margin-left: 5px;
                }
            }
        }
    }
}

::ng-deep .ip-button-icon {
    min-width: -webkit-fill-available;
    padding: 0 !important;
}

::ng-deep .ip-button-icon:hover {
    background-color: lightgray;
}

::ng-deep .analytics-board-card {
    box-shadow: unset !important;
}
.placeholder {
    background: #ccc;

    width: 20px;
    height: 35px;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    display: flex;
    padding: 5px;
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drop-list-item {
    display: flex;
    flex-direction: row;
}

.mok-placeholder {
    margin: 0 5px 5px 0;
    padding-left: 10px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
