/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use "@angular/material" as mat;
@import "styles/theme-variables.scss";

.group {
   display: flex;
   flex-flow: row wrap;

   .widget-type {
      flex: 1;
      display: flex;
      border: 1px solid grey;
      border-radius: 5px;
      margin: 5px 10px 5px 0;
      cursor: pointer;
      // Fix size to avoid too big variations when selecting widget
      box-sizing: border-box;
      width: 118px;
      height: 48px;

      ::ng-deep.mdc-radio {
         display: none;
      }
      &.mat-mdc-radio-checked{
         color: white;
         border-color: mat.get-color-from-palette($app-accent);
         svg path {
            fill:white !important;
         }
      }

      &:hover{
         background-color: rgba(mat.get-color-from-palette($app-accent), 0.2);
         border-color: mat.get-color-from-palette($app-accent);
         color: mat.get-color-from-palette($app-accent);
         svg path {
            fill:$accentColor !important;
         }
      }

      .icon{
         vertical-align: top;
      }

      ::ng-deep.mdc-form-field>label {
         padding: 10px;
         display: flex;
         align-items: center;
         gap: 5px;
         margin-left: 0 !important;
      }
   }
}
