<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select  appAlertOnChange="changing the type will reset the set-up widgets"
            appResetOnChange [(ngModel)]="widgetType">
            <mat-optgroup *ngFor="let nbWidgets of [1, 2, 3]"
                [label]="('With ' + nbWidgets + ' widget(s)') | translate ">
                <mat-option *ngFor="let types of getContentTypes(nbWidgets)" [value]="types">
                    {{types.join(' / ') | translate}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="modal_button" color="primary" [mat-dialog-close]="widgetType" [disabled]="!widgetType"
        tabindex="2">{{ 'OK' | translate }}</button>
    <button mat-raised-button class="modal_button" (click)="cancel()" tabindex="-1">{{ 'Cancel' | translate }}</button>
</div>