<div mat-dialog-title>
    {{'Choose widget type' | translate}}
</div>
<div mat-dialog-content>
    <mat-radio-group [(ngModel)]="widgetType" class="group">
            <mat-radio-button *ngFor="let types of this.contentTypes" class="widget-type" [value]="types.label">
                <mat-icon class="icon">{{types.icon}}</mat-icon>
                {{types.label | translate}}
            </mat-radio-button>
    </mat-radio-group>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="modal_button" color="primary" [mat-dialog-close]="widgetType" [disabled]="!widgetType"
        tabindex="2">{{ 'Add' | translate }}</button>
    <button mat-raised-button class="modal_button" (click)="cancel()" tabindex="-1">{{ 'Cancel' | translate }}</button>
</div>