
@if(manageViewIsOpened){
    <arlas-manage-visualisation
            @openClose
            [visualisation]="currentVisualisation"
            [isEdition]="isEdition()"
            [collectionControlName]="collectionControl.value"
            (validate)="manageVisualisationValidated($event)"
            (cancel)="manageVisualisationCanceled($event)"
    ></arlas-manage-visualisation>
} @else {
    <button mat-stroked-button color="primary" (click)="addVisualisation()">
        <mat-icon>add</mat-icon>
        {{'Add a visualization' | translate}}
    </button>
<section  class="table-container">
    <table mat-table [dataSource]="visualisation"
           class="columns"
           cdkDropList [cdkDropListData]="visualisation" (cdkDropListDropped)="dropVisualisation($event)"
           [cdkDropListDisabled]="dragDisabled" [cdkDropListLockAxis]="'y'"
    >
        <!-- Drag Column -->
        <ng-container matColumnDef="drag"  >
            <th mat-header-cell *matHeaderCellDef class="table-col-drag"></th>
            <td mat-cell  *matCellDef="let element" class="table-col-drag">
                <mat-icon class="drag" (mouseenter)="dragDisabled = false" (mouseup)="dragDisabled = true">drag_indicator</mat-icon>
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell class="table-col-name" *matHeaderCellDef>{{'Name' | translate}}</th>
            <td mat-cell class="table-col-name" *matCellDef="let element">{{element?.value.name}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{'Description' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element?.value.description}}</td>
        </ng-container>

        <!-- Conditions Column -->
        <ng-container matColumnDef="applyTo">
            <th mat-header-cell *matHeaderCellDef>{{'Apply to' | translate}}</th>
            <td mat-cell *matCellDef="let element">
                <div>
                </div>
                <span>

          </span>
            </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table-col-action"></th>
            <td mat-cell  *matCellDef="let element; let i = index" class="table-col-action" >
                <button mat-icon-button [matMenuTriggerFor]='actions' [matMenuTriggerData]="{index:i}"><mat-icon >more_vert</mat-icon></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr class="column-drag" mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag
            [cdkDragData]="row"
        ></tr>
    </table>
</section>


    <mat-menu #actions>
        <ng-template matMenuContent let-index="index">
            <button mat-menu-item (click)="openEdition(index)">
                <mat-icon>edit</mat-icon>
                <span>{{'Manage visualisation' | translate}}</span>
            </button>
            <button (click)="removeVisualisation(index)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>{{'Delete' | translate}}</span>
            </button>
        </ng-template>
    </mat-menu>

}
