<div mat-dialog-title>
  {{'Import a widget' | translate}}
</div>
<div mat-dialog-content [formGroup]="importWidgetFormGroup" class="import">
  <mat-form-field>
    <mat-label>{{'Dashboard' | translate}}</mat-label>
    <mat-select formControlName="dashboard" (selectionChange)="getWidgets($event)">
      @for (conf of configs; track conf) {
        <mat-option [value]="conf">{{conf.doc_key}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (importWidgetFormGroup.get('dashboard').valid) {
    <div>
      <div mat-dialog-title class="import__widgets"> {{'Choose of the following widgets' | translate}}</div>
      @for (tab of analytics | keyvalue; track tab) {
        <div>
          <div class="tab">{{tab.key}}</div>
          @for (analytic of tab.value; track analytic) {
            <mat-card appearance="outlined" class="group">
              <div class="title-container">
                <div><mat-icon>{{analytic.icon}}</mat-icon></div>
                <div class="title"> {{analytic.title}}</div>
              </div>
              @for (comp of analytic.components; track comp) {
                <div class="component">
                  <mat-checkbox (change)="onChange($event, comp)" [value]="comp.uuid">
                    <div class="container">
                      <span>{{contributors.get(comp.contributorId)}}</span>
                      <div class="type" >
                        <div>(</div>
                        <div><mat-icon [color]="'primary'">{{comp.componentType === 'histogram' ? 'bar_chart':
                          (comp.componentType === 'donut' ? 'donut_small' :
                          (comp.componentType === 'powerbars' ? 'sort' :
                          (comp.componentType === 'metric' ? 'functions' :
                          (comp.componentType === 'resultlist' ? 'table_chart' :'waves'))))}}</mat-icon></div>
                        <div>{{comp.componentType | translate}})</div>
                      </div>
                    </div>
                  </mat-checkbox>
                </div>
              }
              @if (analytic.components?.length === 0) {
                <div class="not-importable">
                  {{'This Tab doesn\'t contain an importable widget' | translate}}
                </div>
              }
            </mat-card>
          }
        </div>
      }
    </div>
  }
  @if (importWidgetFormGroup.get('dashboard').valid) {
    <mat-form-field style="display: none;">
      <mat-select formControlName="componentConfig" style="display: none;"  [required]="true"
        [(ngModel)]="selectedWidgets" >
      </mat-select>
    </mat-form-field>
  }
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'Cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="[importWidgetFormGroup.get('componentConfig').value, dashboardConfigJson]" [disabled]="!importWidgetFormGroup.valid" mat-raised-button color="primary">{{ 'Import' | translate}}</button>
</div>