<div [formGroup]="globalFg">
    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>{{'Name' | translate}}</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div description>
            {{'It is used to..' | translate}}
        </div>
    </app-config-element>
    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>{{'Search field' | translate}}</mat-label>
                <mat-select formControlName="searchField">
                    <mat-option *ngFor="let field of keywordFields" [value]="field">
                        {{field}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div description>
            {{'It is used to..' | translate}}
        </div>
    </app-config-element>
    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>{{'Autocomplete field' | translate}}</mat-label>
                <mat-select formControlName="autocompleteField">
                    <mat-option *ngFor="let field of keywordFields" [value]="field">
                        {{field}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div description>
            {{'It is used to..' | translate}}
        </div>
    </app-config-element>
    <app-config-element>
        <div form-fields>
            <mat-label>{{'Autocomplete size' | translate}}</mat-label>
            <mat-slider thumbLabel formControlName="autocompleteSize" min="1" max="10"></mat-slider>
        </div>
        <div description>
            {{'It is used to..' | translate}}
        </div>
    </app-config-element>
    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>{{'Icon' | translate}}</mat-label>
                <input matInput formControlName="icon">
            </mat-form-field>
        </div>
        <div description>
            {{'Please look for an icon ' | translate}}
            <a href="https://material.io/resources/icons/?style=baseline" target="_blank">{{'here' | translate}}</a>
            and copy-paste its reference
        </div>
    </app-config-element>
</div>