.collections-list {
    margin-bottom: 10px;
    .collections-container {
      .title {
        margin-top: 15px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      box-sizing: border-box;
      font-size: 0.8em;
      margin-left: 10px;
      border-radius: 3px;
      
      width: fit-content;
  
      .collection-line {
        box-shadow: 0px -2px 3px -6px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        position: relative;
        align-items: center;
        background-color: white;
        height: 45px;
        justify-content: space-between;
        display: flex;
        border-bottom: 0.4px solid #efefef;
        width: 445px;
        padding-left: 5px;
        padding-right: 10px;
        .collection {
          color: #000;
        }
        .unit {
          height: 30px;
          margin-left: 25px;
          .mat-icon-button .mat-icon {
            line-height: 14px;
            font-size: 20px;
          }
        }
        .draghandle {
          display: flex;
          align-items: center;
          mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            color: #666;
          }
          cursor: grab;
          &:focus {
            cursor: grabbing;
          }
        }
        &:hover {
          .draghandle {
            mat-icon {
              color: #333;
            }
          }
        }
      }
    }
  }
  
  .cdk-drop-list-dragging {
    cursor: grabbing;
    .collection-line {
      box-shadow: 0px -2px 3px -6px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      position: relative;
      align-items: center;
      background-color: white;
      height: 45px;
      justify-content: space-between;
      display: flex;
      border-bottom: 0.4px solid #efefef;
      padding-left: 5px;
      padding-right: 10px;
      .draghandle {
        display: flex;
        align-items: center;
        cursor: grabbing;
        &:focus {
          cursor: grabbing;
        }
      }
    }
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    font-size: 0.75em;
    border-radius: 3px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    cursor: grabbing;
    .collection-line {
        box-shadow: 0px -2px 3px -6px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        position: relative;
        align-items: center;
        background-color: white;
        height: 45px;
        justify-content: space-between;
        display: flex;
        border-bottom: 0.4px solid #efefef;
        padding-left: 5px;
        padding-right: 10px;
        .draghandle {
          display: flex;
          align-items: center;
          mat-icon {
            color: #333;
          }
          cursor: grabbing;
        }
    }
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  