<div class="collections-list" *ngIf="!!unitsArray">
    <div class="collections-container" cdkDropList (cdkDropListDropped)="drop($event)">
      <div cdkDrag  *ngFor="let c of unitsArray.controls">
        <div class="collection-line" cdkDragHandle *ngIf="!c.controls.ignored.value">
          <div class="draghandle">
            <mat-icon>drag_indicator</mat-icon>
            <div class="collection">
              {{c.controls.collection.value}}
            </div>
          </div>
          <div class="unit">
            <mat-form-field>
              <input matInput [formControl]="c.controls.unit" [placeholder]="c.controls.unit.label | translate"
                  [type]="c.controls.unit.inputType" [required]="!c.controls.unit.optional">
            </mat-form-field>
            <button mat-icon-button (click)="hide(c.controls.ignored)" [matTooltip]="'Hide collection' | translate">
              <mat-icon class="mat-icon-rtl-mirror">
                visibility
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="collections-container" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="title" *ngIf="showTitle">{{'Ignored collections' | translate}}</div>
      <div cdkDrag  *ngFor="let c of unitsArray.controls">
        <div class="collection-line" cdkDragHandle *ngIf="c.controls.ignored.value">
          <div class="draghandle">
            <mat-icon>drag_indicator</mat-icon>
            <div class="collection">
              {{c.controls.collection.value}}
            </div>
          </div>
          <div class="unit">
            <button mat-icon-button (click)="display(c.controls.ignored)" [matTooltip]="'Display collection' | translate">
              <mat-icon class="mat-icon-rtl-mirror">
                upgrade
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>