<h3 class="form-control-title">{{'Explore collections' | translate}}</h3>
<div class="content">
    <mat-card *ngFor="let def of collectionsDef" class="collection">
        <mat-card-title>{{ def.collection.collection_name | getCollectionDisplayName | translate }}</mat-card-title>
        <mat-card-content>
            <mat-divider></mat-divider>
            <div class="section">
                <span class="title">{{'Params' | translate}}</span>
            </div>
            <div class="params">
                <div class="value"><span class="label">{{'Id path' | translate}} :</span>
                    {{ def.collection.params.id_path }}</div>
                <div class="value"><span class="label">{{'Centroid path' | translate}} :</span>
                    {{ def.collection.params.centroid_path }}</div>
                <div class="value"><span class="label">{{'Geometry path' | translate}} :</span>
                    {{ def.collection.params.geometry_path }}</div>
                <div class="value"><span class="label">{{'Timestamp path' | translate}} :</span>
                    {{ def.collection.params.timestamp_path }}</div>
                <div class="value"><span class="label">{{'Index name' | translate}} :</span>
                    {{ def.collection.params.index_name }}</div>
                <div class="value" *ngIf="def.collection.params.taggable_fields"><span class="label">{{'Taggable fields' | translate}} :
                    </span>{{def.collection.params.taggable_fields}}</div>

            </div>
            <mat-divider></mat-divider>
            <div class="section">
                <span class="title">{{'Fields' | translate}}</span>
                <span class="button" (click)="def.treeControl.expandAll()" matTooltip="{{'Expand all' | translate}}">{{'expand' | translate}}</span>
                <span class="button" (click)="def.treeControl.collapseAll()" matTooltip="{{'Collapse all' | translate}}">{{'collapse' | translate}}</span>
            </div>
            <div class="fields">
                <mat-tree [dataSource]="def.fields" [treeControl]="def.treeControl">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="10">
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>
                        {{node.name}} -&nbsp;<span class="type">{{node.type}}</span>
                        <span *ngIf="node.type !== TypeEnum.OBJECT && node.indexed" class="indexed">&nbsp;-&nbsp;{{'indexed' | translate}}</span>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{def.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        {{node.name}}
                    </mat-tree-node>
                </mat-tree>
            </div>
        </mat-card-content>
    </mat-card>
</div>