/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "variables.scss";

.container {
  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  .tab-wrapper {
    display: flex;
    overflow-y: auto;
    flex-grow: 2;

    .content {
      display: flex;
      align-items: center;
      min-width: 210px;
      gap: 0 10px;

      .tab-error {
        color: $error-color;
      }

      .edit-tab-name {
        display: flex;
        box-shadow: inset black 0px 0px 2px 0px;
        background-color: white;
        font-weight: bold;
        height: 30px;
        flex: 5;
      }

      .icon {
        flex:1;
      }

      .tab-name {
        align-self: center;
        cursor: text;
        min-height: 15px;
        flex: 5;

        &.pointer {
          cursor: pointer;
        }
      }

      .close, .settings {
        font-size: 16px;
        width: 16px;
        height: 16px;
      }
    }

    .no-tabs {
      padding: 20px;
    }
  }
}