<div class="container">
  <div class="shortcuts">
    <arlas-shortcuts></arlas-shortcuts>
  </div>
  <mat-divider></mat-divider>
  <div class="tab-wrapper">
    <mat-tab-group disableRipple="true" mat-stretch-tabs="false" mat-align-tabs="start" #matTabGroup [(selectedIndex)]="selectedIndex">
      @for (fg of tabsFa.controls; track fg.value.tabName; let index = $index) {
        <mat-tab #matTab>
          <ng-template mat-tab-label>
            <div [id]="'tab-' + index" cdkDropList cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="getOtherTabsIds(index)">
              <div cdkDrag class="content">
                @if (fg.value.showIcon) {
                  <mat-icon class="icon">{{fg.value.tabIcon}}</mat-icon>
                }
                @if (fg.value.showName && editingTabIndex !== index) {
                  <span class="tab-name" tabindex="-1"
                      (focus)="startEditTabName(index)" [class.pointer]="!matTab.isActive"
                      [class.tab-error]="!matTab.isActive && tabHasError(index)">
                    {{fg.value.tabName}}
                  </span>
                }
                @if (editingTabIndex === index) {
                  <span class="edit-tab-name">
                    <!-- keydown stopPropagation needed to allow spaces -->
                    <input matInput [(ngModel)]="editingTabName" arlasAutoFocus autocomplete="off"
                      (keydown)="$event.stopPropagation();" (keydown.enter)="finishEditTabName(index);">
                  </span>
                }
                @if (matTab.isActive) {
                  <button mat-icon-button class="settings" [matTooltip]="'Configure tab' | translate"
                      (click)="$event.stopPropagation(); configTab(index)">
                    <mat-icon>settings</mat-icon>
                  </button>
                }
                <button mat-icon-button class="close" [matTooltip]="'Delete tab' | translate"
                    (click)="$event.stopPropagation(); removeTab(index)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
          @if (index === selectedIndex) {
            <arlas-groups [contentFg]="getTab(index).controls.contentFg">
            </arlas-groups>
          }
        </mat-tab>
      }
      <mat-tab labelClass="last-tab">
        <ng-template mat-tab-label>
          <button mat-icon-button (click)="addTab()">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
        @if (tabs.length === 0) {
          <div class="no-tabs">
            {{ 'Analytics board is empty.' | translate}}
            <button matButton="outlined" color="primary" (click)="newTab()">
              <mat-icon>add</mat-icon>
              {{ 'Create a new tab.' | translate}}
            </button>
          </div>
        }
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
@if (tabsFa.touched && tabsFa.errors?.required) {
  <mat-error>
    {{'At least one tab is required' | translate}}
  </mat-error>
}
