<div class="invalid-widget-edition" *ngIf="!isValid && !!widgetControls?.widgetData?.value?.title"
    [matTooltip]="'The widget has invalid inputs. Edit to fix them.' | translate" matTooltipPosition="above">!</div>
<span>{{widgetControls?.widgetData?.value?.title}}</span>
<button mat-icon-button [matMenuTriggerFor]="menuEditWidget" (click)="update()">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menuEditWidget="matMenu">
    <button mat-menu-item (click)="edit.emit()">
        <mat-icon>edit</mat-icon>
        <span>{{'Edit' | translate}}</span>
    </button>
    <button mat-menu-item (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
        <span>{{'Delete' | translate}}</span>
    </button>
    <button *ngIf="showPinInMenu" mat-menu-item (click)="pin()" >
        <mat-icon>{{pinIconName}}</mat-icon>
        <span>{{pinText | translate}}</span>
    </button>
</mat-menu>