<h1 mat-dialog-title>{{dialogData.widgetType | translate | titlecase }}</h1>
<app-config-form-control *ngIf="formGroup.controls['title']" [control]="formGroup.controls['title']"></app-config-form-control>
<div mat-dialog-content>

    <app-config-form-group [configFormGroup]="formGroup" [defaultKey]="defaultKey">
    </app-config-form-group>

</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>{{'Cancel' | translate}}</button>
    <button cdkFocusInitial (click)="save()" mat-raised-button>{{'Save' | translate}}</button>
</div>