<app-edit-layer-mode-form [submit]="submitSubject.asObservable()" aggregatedMode="true"
    [colorFgSources]="[PROPERTY_SELECTOR_SOURCE.fix, PROPERTY_SELECTOR_SOURCE.interpolated]">
    <div additional-geometry>
        <app-config-element>
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Geometry Id' | translate}} </mat-label>
                    <mat-select [formControl]="geometryIdCtrl">
                        <mat-option *ngFor="let field of getKeywordFields()" [value]="field">{{field}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div description>

            </div>
        </app-config-element>
    </div>
</app-edit-layer-mode-form>