<ng-container [formGroup]="modeFormGroup">
    <mat-horizontal-stepper #stepper class="stepper-for-config-element">

        <mat-step label="Collection" formGroupName="collectionStep" [stepControl]="modeFormGroup.get('collectionStep')">
            <app-config-element>
                <div form-fields>
                    <mat-form-field>
                        <mat-label>Collection</mat-label>
                        <mat-select formControlName="collectionCtrl"
                            appAlertOnChange="changing the collection will reset the rendered geometry" [dependants]="[geometryCtrl(), colorProvidedFieldCtrl(), colorGeneratedFieldCtrl(), colorManualFieldCtrl(), 
                            colorInterpolatedFieldCtrl(), colorInterpolatedNormalizeLocalFieldCtrl()]">
                            <mat-option
                                *ngFor="let collection of this.mainformService.getCollections()"
                                value="{{collection}}">{{collection}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>
                </div>
            </app-config-element>
            <div>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>

        <mat-step label="Geometry" formGroupName="geometryStep" [stepControl]="modeFormGroup.get('geometryStep')">
            <app-config-element>
                <div form-fields>
                    <mat-form-field>
                        <mat-label>Rendered geometry</mat-label>
                        <mat-select formControlName="geometryCtrl">
                            <mat-option *ngFor="let field of collectionGeoFields" [value]="field">
                                {{ field }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <mat-form-field>
                        <mat-label>Geometry type</mat-label>
                        <mat-select formControlName="geometryTypeCtrl">
                            <mat-option value="fill">Fill</mat-option>
                            <mat-option value="line">Line</mat-option>
                            <mat-option value="circle">Circle</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>

                </div>
            </app-config-element>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>

        <mat-step label="Visibility" formGroupName="visibilityStep" [stepControl]="modeFormGroup.get('visibilityStep')">
            <mat-error *ngIf="modeFormGroup.controls.visibilityStep.errors?.lte">
                Zoom max must be greater than or equal to zoom min
            </mat-error>
            <app-config-element>
                <div form-fields>
                    <mat-slide-toggle formControlName="visibleCtrl" labelPosition="before">Visible</mat-slide-toggle>
                </div>
                <div description>
                    description
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <mat-label>Zoom min</mat-label>
                    <mat-slider thumbLabel formControlName="zoomMinCtrl" min="1" max="20" (input)="checkZoom($event, 'min')" thumbLabel="true"></mat-slider>
                </div>
                <div description>
                    zoom min etc
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <span>Zoom max</span>
                    <mat-slider thumbLabel formControlName="zoomMaxCtrl" min="1" max="20" (input)="checkZoom($event, 'max')"></mat-slider>
                </div>
                <div description>
                    zoom max etc
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <span>
                        <mat-label>Features max</mat-label>
                        <mat-slider #featuresMaxCtrlSlider formControlName="featuresMaxCtrl"
                            [value]="modeFormGroup.get('visibilityStep').get('featuresMaxCtrl').value" thumbLabel
                            min="0" max="10000" step="100"> </mat-slider>
                    </span>
                </div>
                <div description>
                    Features max etc
                </div>
            </app-config-element>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>

        <mat-step label="Style" formGroupName="styleStep" [stepControl]="modeFormGroup.get('styleStep')">
            <app-config-element>
                <div form-fields>
                    <mat-label>Opacity</mat-label>
                    <mat-slider thumbLabel formControlName="opacityCtrl" min="0" max="1" thumbLabel="true" step="0.1">
                    </mat-slider>
                </div>
                <div description>
                    opacity...
                </div>
            </app-config-element>

            <app-config-element>
                <div form-fields>
                    <mat-form-field>
                        <mat-label>Color source</mat-label>
                        <mat-select formControlName="colorSourceCtrl"
                            appAlertOnChange="changing the color source will reset the choosen color(s)" [dependants]="[colorFixCtrl(), colorProvidedFieldCtrl(), 
                            colorGeneratedFieldCtrl(), colorManualGroup(), colorInterpolatedGroup()]"
                            appResetOnChange="map.layer">
                            <mat-option [value]="COLOR_SOURCE.fix">Fix</mat-option>
                            <mat-option [value]="COLOR_SOURCE.provided">Provided by a field</mat-option>
                            <mat-option [value]="COLOR_SOURCE.generated">Generated from a field</mat-option>
                            <mat-option [value]="COLOR_SOURCE.manual">Choosen from a field</mat-option>
                            <mat-option [value]="COLOR_SOURCE.interpolated">Interpolated from a field</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div>
                        <ng-container formGroupName="choosenColorGrp">

                            <div *ngIf="colorSourceCtrl().value == COLOR_SOURCE.fix">
                                <app-color-picker [value]="colorFixCtrl().value" (setValue)="setColorFix($event)">
                                </app-color-picker>
                            </div>

                            <div *ngIf="colorSourceCtrl().value == COLOR_SOURCE.provided">
                                <mat-form-field>
                                    <mat-label>Source field</mat-label>
                                    <mat-select formControlName="colorProvidedFieldCtrl">
                                        <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                                            {{ field }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div *ngIf="colorSourceCtrl().value == COLOR_SOURCE.generated">
                                <mat-form-field>
                                    <mat-label>Source field</mat-label>
                                    <mat-select formControlName="colorGeneratedFieldCtrl">
                                        <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                                            {{ field }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div *ngIf="colorSourceCtrl().value == COLOR_SOURCE.manual"
                                formGroupName="colorManualGroup">
                                <mat-form-field>
                                    <mat-label>Source field</mat-label>
                                    <!-- No [dependants] because we manually set the new values on source field change -->
                                    <mat-select formControlName="colorManualFieldCtrl"
                                        appAlertOnChange="Changing the source field will reset the colors"
                                        appResetOnChange="map.layer">
                                        <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                                            {{ field }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div>
                                    <button type="button" mat-raised-button color="primary" (click)="openColorTable()"
                                        *ngIf="colorManualFieldCtrl()?.value">
                                        View / change colors
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="colorSourceCtrl().value == COLOR_SOURCE.interpolated"
                                formGroupName="colorInterpolatedGroup">
                                <mat-form-field>
                                    <mat-label>Source field</mat-label>
                                    <mat-select formControlName="colorInterpolatedFieldCtrl"
                                        appResetOnChange="map.layer"
                                        [dependants]="[colorInterpolatedMinValueCtrl(), colorInterpolatedMaxValueCtrl(), colorInterpolatedNormalizeLocalFieldCtrl()]">
                                        <mat-option *ngFor="let field of collectionIntegerFields" [value]="field">
                                            {{ field }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div *ngIf="colorInterpolatedFieldCtrl().value">
                                    <div>
                                        <mat-label>Normalize</mat-label>
                                        <mat-slide-toggle formControlName="colorInterpolatedNormalizeCtrl"
                                            labelPosition="before" appResetOnChange="map.layer"
                                            [dependants]="[colorInterpolatedScopeCtrl(), colorInterpolatedNormalizeByKeyCtrl(), 
                                            colorInterpolatedNormalizeLocalFieldCtrl(), colorInterpolatedMinValueCtrl(), colorInterpolatedMaxValueCtrl()]">
                                        </mat-slide-toggle>
                                    </div>

                                    <div *ngIf="colorInterpolatedNormalizeCtrl().value">
                                        <mat-form-field>
                                            <mat-label>Scope</mat-label>
                                            <mat-select formControlName="colorInterpolatedScopeCtrl"
                                                appResetOnChange="map.layer"
                                                [dependants]="[colorInterpolatedNormalizeByKeyCtrl(), colorInterpolatedNormalizeLocalFieldCtrl()]">
                                                <mat-option value="local">Local</mat-option>
                                                <mat-option value="global">Global</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <div *ngIf="colorInterpolatedScopeCtrl().value === 'local'">
                                            <mat-label>Normalize by key</mat-label>
                                            <mat-slide-toggle formControlName="colorInterpolatedNormalizeByKeyCtrl"
                                                labelPosition="before" appResetOnChange="map.layer"
                                                [dependants]="[colorInterpolatedNormalizeLocalFieldCtrl()]">
                                            </mat-slide-toggle>
                                        </div>

                                        <div *ngIf="colorInterpolatedNormalizeByKeyCtrl().value">
                                            <mat-form-field>
                                                <mat-select formControlName="colorInterpolatedNormalizeLocalFieldCtrl">
                                                    <mat-option *ngFor="let field of collectionKeywordFields"
                                                        [value]="field">{{ field }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div *ngIf="!colorInterpolatedNormalizeCtrl().value">
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Minimum value</mat-label>
                                                <input matInput placeholder="Min" type="number"
                                                    formControlName="colorInterpolatedMinValueCtrl">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Maximum value</mat-label>
                                                <input matInput placeholder="Max" type="number"
                                                    formControlName="colorInterpolatedMaxValueCtrl">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="button" mat-raised-button (click)="openPaletteTable()" class="palette-button">
                                            Select palette
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="choosenColorGrp()?.invalid && choosenColorGrp().touched">
                                <mat-error *ngIf=" colorFixCtrl().touched && colorFixCtrl()?.errors?.required">
                                    A color is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorProvidedFieldCtrl().touched && colorProvidedFieldCtrl()?.errors?.required 
                                    || colorGeneratedFieldCtrl().touched && colorGeneratedFieldCtrl()?.errors?.required 
                                    || colorManualFieldCtrl().touched && colorManualFieldCtrl()?.errors?.required 
                                    || colorInterpolatedFieldCtrl().touched && colorInterpolatedFieldCtrl()?.errors?.required">
                                    A source field is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorInterpolatedMinValueCtrl().touched && colorInterpolatedMinValueCtrl()?.errors?.required">
                                    A minimum value is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorInterpolatedMaxValueCtrl().touched && colorInterpolatedMaxValueCtrl()?.errors?.required">
                                    A maximum value is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorInterpolatedScopeCtrl().touched && colorInterpolatedScopeCtrl()?.errors?.required">
                                    A scope is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorInterpolatedNormalizeLocalFieldCtrl().touched && colorInterpolatedNormalizeLocalFieldCtrl()?.errors?.required">
                                    A local-normalization field is required
                                </mat-error>
                                <mat-error
                                    *ngIf="colorInterpolatedPaletteCtrl().touched && colorInterpolatedPaletteCtrl()?.errors?.required">
                                    A palette is required
                                </mat-error>
                            </div>

                        </ng-container>
                    </div>

                </div>
                <div description>
                    <p>
                        Fix: use a fix color.
                    </p>
                    <p>
                        Provided by a field: select a field whose values are the colors to use.
                    </p>
                    <p>
                        Generated from a field: select a field of type 'keyword', then a color will be generated for
                        every
                        possible value.
                    </p>
                    <p>
                        Choosen from a field: select a field of type 'keyword', then select a color for every possible
                        value.
                    </p>
                    <p>
                        Interpolated from a field: select a number or date field, colors will be lineary interpolated
                        between the min and the max.
                    </p>
                </div>
            </app-config-element>
            <button mat-button matStepperPrevious>Back</button>
        </mat-step>

    </mat-horizontal-stepper>
</ng-container>