<button mat-raised-button color="primary" class="add-layer" [routerLink]="['add']"> Add layer
</button>

<table mat-table [dataSource]="layersFa.value" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="mode">
        <th mat-header-cell *matHeaderCellDef> Mode </th>
        <td mat-cell *matCellDef="let element"> {{element.mode}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button [routerLink]="['edit', element.id]"> edit </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="confirmDelete(element.id, element.name)"> delete </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-error *ngIf="layersFa.touched && layersFa.errors?.required">
    At least one layer is required
</mat-error>