@let label = showLabel && control.label  ?
    (control.label | translate:{ property: control.propertyName | translate } | upperFirst:true ): '';

@if (isSlideToggle(); as typedControl) {
  <div class="slider-toggle-form-control">
    <mat-slide-toggle [formControl]="typedControl" labelPosition="before"
      [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
      [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
      @if (showLabel) {
        {{ label }}
      }
    </mat-slide-toggle>
  </div>
} @else if (isButtonToggle(); as typedControl) {
  <div class="button-form-control">
    <mat-button-toggle-group [formControl]="typedControl"
      [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
      [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
      @for (opt of typedControl.options; track opt) {
        <mat-button-toggle [disabled]="opt?.disabled" [value]="opt.value">{{ opt.label | translate}}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
} @else if (isRadioButton(); as typedControl) {
  <div class="radio-form-control">
    <mat-radio-group [formControl]="typedControl"
      [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
      [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
      @for (opt of typedControl.options; track opt) {
        <mat-radio-button class="radio-button" [value]="opt.value">{{ opt.label | translate}} </mat-radio-button>
      }
    </mat-radio-group>
  </div>
} @else if (isSlider(); as typedControl) {
  <div class="slider-form-control">
    <mat-label [class.control-error]="typedControl.touched && typedControl.invalid">{{ label + (control.optional ? '' : '*') }}</mat-label>
    <div class="slider-container">
      <mat-form-field class="slider-input" appearance="outline" [subscriptSizing]="'dynamic'" >
        <input matInput type="number" [step]="typedControl.step" [formControl]="typedControl" [min]="typedControl.min" [max]="typedControl.max" [(ngModel)]="typedControl.value">
      </mat-form-field>
      <mat-slider #ngSlider [min]="typedControl.min" [max]="typedControl.max" [step]="typedControl.step">
            <input matSliderThumb (input)="typedControl.ensureLessThan ? typedControl.checkLessThan(ngSliderThumb.value) : null;
                typedControl.ensureGreaterThan ? typedControl.checkGreaterThan(ngSliderThumb.value) : null" #ngSliderThumb="matSliderThumb"
                   [(ngModel)]="typedControl.value" />
      </mat-slider>
    </div>
    @if (typedControl.hasWarning) {
      <mat-card appearance="outlined" class="empty_visulisation">
        {{ typedControl.warningMessage | translate}}
      </mat-card>
    }
  </div>
} @else if (isRangeSlider(); as typedControl) {
    <app-range-slider [control]="typedControl"></app-range-slider>
} @else if (isSelect(); as typedControl) {
  <div class="select-form-control" [class.select-form-control--large]="typedControl.optionalParams.large">
    <mat-form-field  [class]="typedControl.formFieldClass">
      <mat-label>{{ label }}</mat-label>
      <mat-select [formControl]="typedControl" [required]="!typedControl.optional"
        [arlasAlertOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? WARNING_MESSAGE : null"
        [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
        [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
        @if (typedControl.optionalParams.isCollectionSelect) {
          @for (group of typedControl.groups | keyvalue:orderCollectionGroup; track group.key) {
            @if (group.value.length > 0) {
              <mat-optgroup [label]="group.key | groupCollection:organisation | translate">
                @for (collection of group.value; track collection) {
                  <mat-option [value]="collection.name">
                    {{ collection.name | getCollectionDisplayName | translate }}
                  </mat-option>
                }
              </mat-optgroup>
            }
          }
        } @else {
          @if (typedControl.optional) {
            <mat-option></mat-option>
          }
          @for (opt of typedControl.syncOptions; track opt) {
            <mat-option [value]="opt.value" [ngClass]="'option-color-' + opt.value" [disabled]="opt.enabled === false">
              {{opt.label | translate}}
            </mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  </div>
} @else if (isMultipleSelect(); as typedControl) {
  <div class="multi-select-form-control">
    <arlas-multi-select-search [control]="typedControl"></arlas-multi-select-search>
  </div>
} @else if (isCheckbox(); as typedControl) {
  <div class="checkbox-form-control">
    <mat-label>{{ label }}</mat-label>
    @if (!typedControl.syncOptions || typedControl.syncOptions.length == 0) {
      <div>
        <mat-checkbox class="checkbox" (change)="typedControl.addLayer($event, 'All layers')">
        {{'All layers' | translate}}</mat-checkbox>
      </div>
    }
    @for (opt of typedControl.syncOptions; track opt) {
      <div>
        <mat-checkbox class="checkbox" [checked]="opt.include" (change)="typedControl.addLayer($event, opt.name)">
        {{opt.name}}</mat-checkbox>
      </div>
    }
    @if (!typedControl.hasLayer) {
      <mat-card appearance="outlined" class="empty_visulisation">
        {{ 'This layer is not assigned to a visualisation set, it will not be visible on the map' | translate}}
      </mat-card>
    }
  </div>
} @else if (isHuePalette(); as typedControl) {
  <div class="control-hue-palette">
    <mat-form-field  [class]="typedControl.formFieldClass">
      <mat-label>{{ label }}</mat-label>
      <mat-select [formControl]="typedControl" [required]="!typedControl.optional"
          [ngStyle]="{'backgroundImage': typedControl.value ? (typedControl.getCurrentOption().value | stepGradient) : null}">
        @if (typedControl.optional) {
          <mat-option></mat-option>
        }
        @for (opt of typedControl.syncOptions; track opt) {
          <mat-option class="control-hue-palette__option" [value]="opt.value"
            [ngStyle]="{'backgroundImage': opt.value | stepGradient}"
            [matTooltip]="opt.label | translate" matTooltipPosition="right" [disabled]="opt.enabled === false">
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
} @else if (isAutocomplete(); as typedControl) {
    <arlas-auto-complete-select-form
            [control]="typedControl"
            [showLabel]="showLabel"
            [warningMessage]="WARNING_MESSAGE"
            [defaultKey]="defaultKey"
    >
    </arlas-auto-complete-select-form>
} @else if (isTypedAutocomplete(); as typedControl) {
  <div class="typed-autocomplete-input-form-control">
    <mat-form-field  [class]="typedControl.formFieldClass">
      @if (showLabel) {
        <mat-label>{{ label }}</mat-label>
      }
      <input type="text" matInput [formControl]="typedControl" [matAutocomplete]="autotyped" #typedAutocompleteInput
        [required]="!typedControl.optional"
        [arlasAlertOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? WARNING_MESSAGE : null"
        [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
        [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
      @if (typedControl.value) {
        <button matSuffix mat-icon-button
          (click)="clearAutoComplete($event, typedAutocompleteInput, typedControl)">
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-autocomplete autoActiveFirstOption #autotyped="matAutocomplete" [displayWith]="displayWith">
        @if (typedControl.optional) {
          <mat-option></mat-option>
        }
        <!-- TODO: have a description for the labels ? Example: the geographic intersection. Should it be explained in the form description what each element does, or should it be in the tooltip ? -->
        @for (opt of typedControl.filteredOptions; track opt) {
          <mat-option [value]="{value: opt.value,  type: opt.type}"
            [disabled]="opt.enabled === false">
            {{opt.label | translate}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
} @else if (isOrderedSelect(); as typedControl) {
    <arlas-ordered-select [showLabel]="showLabel" [control]="typedControl"></arlas-ordered-select>
} @else if (isMetricWithFieldList(); as typedControl) {
  <div class="metric-field-form-control">
    <div>
      <div class="action-container">
        <div class="metric-toggle">
          <mat-button-toggle-group [formControl]="typedControl.metricCtrl">
            @for (opt of typedControl.METRICS; track opt) {
              <mat-button-toggle [value]="opt">
                {{ $any(opt) | titlecase | translate }}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
        <div class="field-add-container">
          @if (typedControl.metricCtrl.value != 'count') {
            <div class="field-container">
              <mat-form-field>
                <mat-label>{{'metric field' | translate}}</mat-label>
                <input type="text" matInput [matAutocomplete]="auto"
                  [formControl]="typedControl.fieldCtrl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  @for (opt of typedControl.autocompleteFilteredFields; track opt) {
                    <mat-option [value]="opt.value"
                      [disabled]="opt.enabled === false">
                      {{opt.label | translate}}
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          }

          @if (typedControl.isUpdateState) {
            <div class="add-container">
              <button type="button" matButton="outlined" color="primary"
                  [disabled]="typedControl.metricCtrl.invalid || typedControl.fieldCtrl.invalid || typedControl.arlasFilterCtrl.invalid"
                  (click)="typedControl.updateMetric()">
                {{ 'Update' | translate}}</button>
              <button type="button" matButton="outlined" (click)="typedControl.cancelUpdateMetric()">
                {{ 'Cancel' | translate}}</button>
            </div>
          } @else {
            <div class="add-container">
              <button type="button" matButton="outlined" color="primary"
                  [disabled]="typedControl.metricCtrl.invalid || typedControl.fieldCtrl.invalid || typedControl.arlasFilterCtrl.invalid"
                  (click)="typedControl.addMetric()">
                <mat-icon>add</mat-icon>
                {{ 'Add' | translate}}
              </button>
            </div>
          }
        </div>
        <mat-accordion>
          <mat-expansion-panel class="arlas-filter-expansion-panel" hideToggle
            (afterCollapse)="typedControl.afterCloseFilter()" (afterExpand)="typedControl.afterExpandFilter()">
            <mat-expansion-panel-header class="arlas-filter-expansion-panel-header">
              <mat-panel-title class="arlas-filter-expansion-panel-title">
                <div class="panel-chevron">
                  @if (typedControl.isPanelClose) {
                    <mat-icon> chevron_right</mat-icon>
                  }
                  @if (!typedControl.isPanelClose) {
                    <mat-icon> expand_more</mat-icon>
                  }
                </div>
                {{ 'metric filter' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="textarea-form-control metric-filter">
              <mat-form-field>
                <textarea matInput [formControl]="typedControl.arlasFilterCtrl"
                  [required]="false" cdkTextareaAutosize="true"></textarea>
              </mat-form-field>
            </div>
            <div class="description">
              {{'arlas filter description' | translate}}
              <a target="_blank" href="https://docs.arlas.io/external_docs/ARLAS-server/arlas-api-exploration/#f-parameter-syntax">{{'here' | translate}}</a>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="chips-container">
        <mat-chip-listbox #chipSortList>
          @for (opt of typedControl.value; track opt; let indexOfelement = $index) {
            <mat-chip-option class="filter-chip" [selectable]="true"
              (click)="typedControl.onClickFilterChip($event, opt)" (keydown)="typedControl.onClickFilterChip($event, opt)"
              [removable]="true" (removed)="typedControl.removeMetric(opt)"
              [matTooltip]="opt.filter | json" matTooltipPosition="above">
              m[{{indexOfelement}}] : {{opt.field}} ({{opt.metric}}) ({{ (opt.filter | json) === '{}' ? ('no filter'| translate) : ('with filter'| translate) }})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
    </div>
    @if (typedControl.touched && typedControl.invalid && typedControl?.errors?.required) {
      <mat-error>
        {{ 'At least one ' | translate}} {{typedControl.label | lowercase | translate}} {{ 'is required' | translate}}
      </mat-error>
    }
  </div>
} @else if (isFieldWithSizeList(); as typedControl) {
  <div class="metric-field-form-control">
    <div>
      <div class="action-container">
        <div class="donut-size">
          <mat-label>{{ 'donut size' | translate}}</mat-label>
          <div class="slider-form-control">
            <div class="slider-container">
              <mat-form-field class="slider-input" appearance="outline" [subscriptSizing]="'dynamic'">
                <input   matInput type="number" [step]="1" [formControl]="typedControl.sizeCtrl" [min]="1" [max]="30" [(ngModel)]="typedControl.sizeCtrl.value">
              </mat-form-field>
              <mat-slider [min]="1" [max]="30" [step]="1">
                <input matSliderThumb [(ngModel)]="typedControl.sizeCtrl.value" #sliderValue/>
              </mat-slider>
            </div>
          </div>
        </div>
        <div class="field-add-container">
          <div class="field-container">
            <mat-form-field>
              <mat-label>{{'donut field' | translate}}</mat-label>
              <input type="text" matInput [matAutocomplete]="auto"
                [formControl]="typedControl.fieldCtrl">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                @for (opt of typedControl.autocompleteFilteredFields; track opt) {
                  <mat-option [value]="opt.value"
                    [disabled]="opt.enabled === false">
                    {{opt.label | translate}}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="add-container">
            <button type="button" matButton="outlined" color="primary"
                [disabled]="typedControl.sizeCtrl.invalid || typedControl.fieldCtrl.invalid"
                (click)="typedControl.add()">
              <mat-icon>add</mat-icon>
              {{ 'Add' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="chips-container">
        <mat-chip-listbox #chipSortList>
          @for (opt of typedControl.value; track opt) {
            <mat-chip-option [selectable]="false" [removable]="true"
              (removed)="typedControl.remove(opt)">
              {{opt.field}} ({{opt.size}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
    </div>
    @if (typedControl.touched && typedControl.invalid && typedControl?.errors?.required) {
      <mat-error>
        {{ 'At least one ' | translate}} {{typedControl.label | lowercase | translate}} {{ 'is required' | translate}}
      </mat-error>
    }
  </div>
} @else if (isFieldTemplate(); as typedControl) {
  <div class="url-field-form-control">
    <div>
      <div class="action-container">
        <mat-form-field [class]="typedControl.formFieldClass">
          @if (showLabel) {
            <mat-label>{{ label }}</mat-label>
          }
          <input matInput [formControl]="typedControl" [type]="'text'" [required]="!typedControl.optional"
            [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
            [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
        </mat-form-field>
        <div class="field-insert-container">
          @if (!typedControl?.showInsertButton) {
            <div class="field-container">
              <mat-form-field>
                <mat-label>{{'field to insert' | translate}}</mat-label>
                <input type="text" matInput [matAutocomplete]="auto"
                  [formControl]="typedControl.fieldCtrl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  @for (opt of typedControl.autocompleteFilteredFields; track opt) {
                    <mat-option [value]="opt.value"
                      [disabled]="opt.enabled === false">
                      {{opt.label | translate}}
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          }
          <div class="insert-container">
            @if (typedControl?.showInsertButton) {
              <button type="button" matButton="outlined" color="primary"
                (click)="typedControl.showInsertButton = false" [matTooltip]="'Insert field tooltip' | translate" matTooltipPosition="right">
                {{ 'Insert field' | translate}}
              </button>
            } @else {
              <button type="button" matButton="outlined" color="primary" class="insert"
                [disabled]="typedControl.fieldCtrl.invalid" (click)="typedControl.add()">
                {{ 'Insert' | translate}}
              </button>
              <button type="button" matButton="outlined"
                (click)="typedControl.showInsertButton = true">
                {{ 'Cancel' | translate}}
              </button>
            }
          </div>
        </div>
      </div>
    </div>
    @if (typedControl.touched && typedControl.invalid && typedControl?.errors?.required) {
      <mat-error>
        {{ 'At least one ' | translate}} {{typedControl.label | lowercase | translate}} {{ 'is required' | translate}}
      </mat-error>
    }
  </div>
} @else if (isInput(); as typedControl) {
  <div class="input-field-form-control">
    <mat-form-field [class]="typedControl.formFieldClass">
      @if (showLabel) {
        <mat-label>{{ label }}</mat-label>
      }
      <input matInput [readonly]="readonly" [formControl]="typedControl" [type]="typedControl.inputType" [required]="!typedControl.optional"
        [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
        [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null"
            (change)="typedControl.ensureLessThan ? typedControl.checkLessThan(+$event.target.value) : null;
        typedControl.ensureGeaterThan ? typedControl.checkGreaterThan(+$event.target.value) : null">
    </mat-form-field>
  </div>
} @else if (isTitleInput(); as typedControl) {
  <div class="title-field-form-control">
    <mat-form-field [class]="typedControl.formFieldClass">
      <input  matInput [readonly]="readonly" [formControl]="typedControl" [placeholder]="typedControl.label | translate"
        [type]="typedControl.inputType" [required]="!typedControl.optional"
        [arlasResetOnChange]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? defaultKey : null"
        [dependants]="typedControl.resetDependantsOnChange && typedControl.dependantControls ? typedControl.dependantControls : null">
    </mat-form-field>
  </div>
} @else if (isIcon(); as typedControl) {
  <div class="icon-form-control">
    <mat-form-field [class]="typedControl.formFieldClass">
      @if (showLabel) {
        <mat-label>{{ label }}</mat-label>
      }
      <input matInput [formControl]="typedControl" type="text" [required]="!typedControl.optional">
    </mat-form-field>
    <mat-icon>{{ typedControl.value }}</mat-icon>
  </div>
} @else if (isColor(); as typedControl) {
  <div>
    <div [class.control-error]="typedControl.touched && typedControl.invalid">
      {{ label }} {{typedControl.optional ? '' : '*'}}
    </div>
    <arlas-color-picker-wrapper [value]="typedControl.value" (setValue)="typedControl.setValue($event)">
    </arlas-color-picker-wrapper>
  </div>
} @else if (isHidden(); as typedControl) {
  <div>
    <input [formControl]="typedControl" type="hidden" [required]="!typedControl.optional">
    @if (typedControl.touched && typedControl?.errors?.required && typedControl.label) {
      <span>
        <mat-error>{{ typedControl.label | translate }} {{ 'is required' | translate }}</mat-error>
      </span>
    }
  </div>
} @else if (isButton(); as typedControl) {
  <div class="button-form-control">
    <button type="button" matButton="outlined" color="primary" (click)="typedControl.callback()"
      [disabled]="typedControl.disabledButton">
      {{typedControl.label | translate}}
    </button>
    @if (typedControl.disabledButton) {
      <div class="disabled-button-message">
      {{typedControl.disabledButtonMessage | translate}}</div>
    }
  </div>
} @else if (isMapFilters(); as typedControl) {
  <!-- TODO: check typing more in depth -->
  <div class="mapfilter-form-control">
    <arlas-layer-filters [layerFg]="$any(parentFormGroup)"></arlas-layer-filters>
  </div>
} @else if (isCollectionsUnits(); as typedControl) {
  <div class="mapfilter-form-control">
    <arlas-collections-units [unitsArray]="$any(parentFormGroup)"></arlas-collections-units>
  </div>
} @else if (isTextarea(); as typedControl) {
  <div class="textarea-form-control">
    <mat-form-field [class]="typedControl.formFieldClass">
      @if (showLabel) {
        <mat-label>{{ label }}</mat-label>
      }
      <textarea matInput [formControl]="typedControl" [required]="!typedControl.optional"
        [placeholder]="typedControl.placeHolder | translate" cdkTextareaAutosize="true"></textarea>
      @if (typedControl?.errors) {
        <span>
          <mat-error>{{ 'Process error message' | translate }}</mat-error>
        </span>
      }
    </mat-form-field>
  </div>
} @else if (isComponent(); as typedControl) {
  <div>
    <template #component>I am span</template>
  </div>
}

@if (colorPreviewControl) {
  <div class="color-preview-form-control">
    @if (colorPreviewControl.label) {
      <mat-label>{{ label }}</mat-label>
    }
    <div class="color-preview"
      [ngStyle]="{'background': colorPreviewControl.isMultiColors() ? 'linear-gradient(to right, ' + colorPreviewControl.getPaletteGradients() + ')' : colorPreviewControl.value}">
    </div>
  </div>
}

@if (control.touched && control?.errors?.notNumeric) {
  <mat-error>
    {{control.label + (' should be an integer value' | translate)}}
  </mat-error>
}

@if (control.touched && control?.errors?.pattern) {
  <mat-error>
    {{control.label + (' is not valid' | translate)}}
  </mat-error>
}
