<h3 style="font-weight: 500;">{{'Edit a layer' | translate}}</h3>

<app-config-form-group [configFormGroup]="layerFg" [parentConfigFormGroup]="layerFg" defaultKey="map.layer"></app-config-form-group>

<div class="action-buttons">
    <button mat-raised-button color="primary" type="submit" (click)="submit()">{{ 'Validate' | translate}} </button>
    <button class="cancel-button" mat-raised-button (click)="forceCanExit = true"
        [routerLink]="['', 'map-config', 'layers']" queryParamsHandling="preserve">{{ 'Cancel' | translate}} </button>
</div>