/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
arlas-map {
    ::ng-deep div.map__visu-list {
        top: 10px;
        right: 10px;
        flex-direction: row-reverse;
        align-items: flex-end;

        .map__legend-button {
           box-sizing: border-box;
        }

        .map__visu-list--container {
            position: relative;
            top: -2px;
            padding-top: 0;
            padding-right: 5px;
        }
    }

    ::ng-deep .maplibregl-ctrl-top-right {
        top: 45px;
    }

    ::ng-deep .basemap-container {
        top: 250px;
        z-index: 1;
    }

    ::ng-deep.maplibregl-ctrl-group {
        box-shadow: none;
    }

    ::ng-deep.maplibregl-ctrl-group-addgeobox,
    ::ng-deep.maplibregl-ctrl-group-removeaois {
        display: none;
    }
}

.preview {
    position: relative;
    width: fit-content;
    height: 35px;
    top: 10px;
}

.basemaps {
    border-radius: 4px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 250px;
}
