<arlas-mapgl #map [dataSources]="mapDataSources" [redrawSource]="mapRedrawSources"
  [defaultBasemapStyle]="mapComponentConfig?.defaultBasemapStyle" [basemapStyles]="mapComponentConfig?.basemapStyles"
  [margePanForLoad]="mapComponentConfig?.margePanForLoad" [margePanForTest]="mapComponentConfig?.margePanForTest"
  [initCenter]="mapComponentConfig?.initCenter" [drawData]="mainMapContributor?.geojsondraw"
  [initCenter]="mapComponentConfig?.initCenter" [initZoom]="mapComponentConfig?.initZoom"
  [minZoom]="mapComponentConfig?.minZoom" [maxZoom]="mapComponentConfig?.maxZoom" [displayScale]="true"
  [maxWidthScale]="mapComponentConfig?.maxWidthScale" [idFeatureField]="mapComponentConfig?.idFieldName"
  [mapLayers]="mapComponentConfig?.mapLayers" [mapSources]="mapComponentConfig?.mapSources"
  [displayLayerSwitcher]="false" [drawButtonEnabled]="false"
  [visualisationSetsConfig]="mapComponentConfig?.visualisations_sets" [legendUpdater]="mapLegendUpdater"
  [visibilityUpdater]="mapVisibilityUpdater"
  (visualisations)="changeVisualisation($event)" (onAoiChanged)="onChangeAoi($event)"
  (onMove)="onMove($event)">
</arlas-mapgl>
<div class="preview">
  
  <button matTooltip="{{'Use current view as dashboard preview'}}" class="button" mat-raised-button (click)="savePreview()">{{'Save preview' | translate}}</button>
</div>