/*
Licensed to Gisaïa under one or more contributor
license agreements. See the NOTICE.txt file distributed with
this work for additional information regarding copyright
ownership. Gisaïa licenses this file to you under
the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.groups-wrapper {
  overflow-y: hidden;

  .add-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .bloc {
    display: flex;
    justify-content: space-evenly;
    padding: 3px 0;

    .group {
      margin: 10px 2px;
      display: flex;

      .header {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        justify-content: space-between;
      }
    }

    .preview-group {
      width: 466px;
      ::ng-deep .analytics-board-panel-title {
        font-size: 16px;
        font-weight: 300;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }

      ::ng-deep .analytics-board-card {
        box-shadow: none !important;
        padding: 1px !important;
        margin: 3px 0 3px 0 !important;
      }

      ::ng-deep .analytics-board-panel .mat-expansion-panel-body {
        margin: 0 1px 0px;
        padding: 0 5px 0 0 !important;
        font-weight: 300;
      }

      ::ng-deep .histogram__description {
        display: none;
      }

      ::ng-deep .arlas-metric-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arlas-metric-title {
          text-align: center;
          white-space: nowrap;
        }

        .arlas-metric-content {
          .arlas-metric-value {
            font-weight: 400;
            font-size: 1.8em;
            padding: 5px 0;
            white-space: nowrap;
          }
        }

        .arlas-metric-description {
          font-size: 1.3rem;
          font-weight: 100;
          text-align: center;
        }
      }

      ::ng-deep .arlas-histogram-analytics {
        .histogram__description {
          display: none;
        }

        .histogram__chart--current-selected--area {
          fill: #80cbc4;
          fill-opacity: 1;
          stroke: #80cbc4;
          stroke-width: 1px;
          stroke-opacity: 1;
        }

        .histogram__chart--fixed-selected--area {
          fill: #80cbc4;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart--unselected--area {
          fill: #eeeeee;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart .context .brush .selection {
          fill: #bdbdbd;
          fill-opacity: 0.2;
          stroke: none;
        }

        .histogram__chart--bar__currentselection {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar__partlyselected {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar__fullyselected {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar {
          fill: #fff !important;
          stroke: #b7b7b7 !important;
          stroke-width: 0.4px;
          stroke-opacity: 1;
        }

        .headband_currentselection {
          fill: #4ecdc4 !important;
          stroke: #4ecdc4 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }

        .headband_currentselection_max {
          fill: rgb(238, 35, 69) !important;
          stroke: rgb(238, 35, 69) !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_partlyselected {
          fill: #4ecdc4 !important;
          stroke: #4ecdc4 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_fullyselected {
          fill: #4ecdc4 !important;
          stroke: #4ecdc4 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_notselected {
          fill: #fff !important;
          stroke: #b7b7b7 !important;
          stroke-width: 0 !important;
          height: 0 !important;
        }

        .histogram__brush--handles {
          stroke: #78909c;
          stroke-width: 1px;
          fill: white;
        }

        .tick text {
          fill: #bdbdbd;
          font-size: 0.9em;
        }

        .histogram__ticks {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }
        .histogram__axis {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }

        .histogram__only-axis .domain {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }
      }

      ::ng-deep .arlas-timeline-analytics {
        .histogram__description {
          display: none;
        }

        .histogram__chart--current-selected--area {
          fill: #4ecdc4;
          fill-opacity: 1;
          stroke: #4ecdc4;
          stroke-width: 1px;
          stroke-opacity: 1;
        }

        .histogram__chart--fixed-selected--area {
          fill: #4ecdc4;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart--unselected--area {
          fill: #eeeeee;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart .context .brush .selection {
          fill: #4ecdc4;
          fill-opacity: 0;
          stroke: none;
        }

        .histogram__chart--bar__partlyselected {
          fill: #4ecdc4;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart--bar__currentselection {
          fill: #4ecdc4;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart--bar__fullyselected {
          fill: #4ecdc4;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__chart--bar {
          fill: #eeeeee;
          fill-opacity: 1;
          stroke: none;
        }

        .histogram__brush--handles {
          stroke: #78909c;
          stroke-width: 1px;
          fill: white;
        }

        .tick text {
          fill: #bdbdbd;
          font-size: 0.9em;
        }

        .histogram__ticks {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }
        .histogram__axis {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }

        .histogram__only-axis .domain {
          stroke: #bdbdbd;
          stroke-width: 0.8px;
        }

        /** TIMELINE BARS**/
        .histogram__chart--bar__currentselection {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar__partlyselected {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar__fullyselected {
          fill: #fff !important;
          stroke: #a5a5a5 !important;
          stroke-width: 0.4px;
        }
        .histogram__chart--bar {
          fill: #fff !important;
          stroke: #b7b7b7 !important;
          stroke-width: 0.4px;
          stroke-opacity: 1;
        }
        /** TIMELINE HEADBANDS**/
        .headband_currentselection {
          fill: #2196f3 !important;
          stroke: #2196f3 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_currentselection_max {
          fill: rgb(201, 0, 100) !important;
          stroke: rgb(201, 0, 100) !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_partlyselected {
          fill: #2196f3 !important;
          stroke: #2196f3 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_fullyselected {
          fill: #2196f3 !important;
          stroke: #2196f3 !important;
          stroke-width: 0.4px !important;
          height: 1.5px !important;
        }
        .headband_notselected {
          fill: #fff !important;
          stroke: #b7b7b7 !important;
          stroke-width: 0 !important;
          height: 0 !important;
        }
      }

      .title {
        font-weight: bold;
      }
    }
  }

  .placeholder {
    background: #ccc;
    border: dotted 2px #999;
    min-height: 160px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
.cdk-drag-preview {
  margin: 10px 2px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
  .header {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: space-between;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
