<div class="menu_container" [class.hide-label]="!isLabelDisplayed">
  <div class="logo">
    <a matTooltip="Back to home page" [routerLink]="['/']" queryParamsHandling="preserve">
      <!-- Get free from https://www.jing.fm/iclipt/u2q8t4r5e6y3q8r5/ -->
      <img src="assets/img/logo-full.png" *ngIf="isLabelDisplayed" />
      <img src="assets/img/logo-cropped.png" *ngIf="!isLabelDisplayed" />
    </a>
  </div>
  
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let page of pages" [matTooltip]="page?.tooltip" [routerLink]="page?.link" queryParamsHandling="preserve">
        <button mat-icon-button [disabled]="!page?.enabled" routerLinkActive="mat-accent">
          <mat-icon [matBadge]="nbErrorsByPage.get(page.name)" [matBadgeHidden]="!nbErrorsByPage.get(page.name)"
            matBadgePosition="above before" matBadgeColor="warn">
            {{ page?.icon }}</mat-icon>
          <span>{{ page?.name }} </span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div>
    <div class="action-list">
      <mat-nav-list>
        <mat-list-item matTooltip="{{'Save' | translate}}" (click)="save($event)" 
        [class.disabled-item]="!this.persistenceService.isAvailable || (!this.persistenceService.isAuthenticate && this.persistenceService.isAuthAvailable)">
          <button mat-icon-button >
            <mat-icon>save</mat-icon>
            <span>{{'Save' | translate}}</span>
          </button>
        </mat-list-item>
        <mat-list-item matTooltip="{{'Download configuration files' | translate}}" (click)="export()">
          <button mat-icon-button>
            <mat-icon>save_alt</mat-icon>
            <span>{{'Download' | translate}}</span>
          </button>
        </mat-list-item>
        <mat-list-item matTooltip="{{'Log Out' | translate}}" (click)="logout()" *ngIf="this.persistenceService.isAuthenticate">
          <button mat-icon-button>
            <mat-icon>lock_open</mat-icon>
            <span>{{'Log Out' | translate}}</span>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="toggler">
      <button mat-icon-button (click)="expand()"
        [matTooltip]="isLabelDisplayed? 'reduce' : 'expand'">
        <mat-icon>{{ isLabelDisplayed ? 'arrow_left' : 'arrow_right' }}</mat-icon>
      </button>
    </div>
  </div>
</div>