<div class="menu_container">
  <mat-nav-list>
    @for (page of pages; track page) {
      <mat-list-item [matTooltip]="page?.tooltip | translate" matTooltipPosition="right" [routerLink]="page.enabled ? page?.link : null"
        [routerLinkActive]="page.enabled ? 'active-menu' : 'inactive-menu'" queryParamsHandling="preserve">
        <button mat-icon-button [disabled]="!page?.enabled" [routerLinkActive]="page.enabled ? 'mat-accent' : ''">
          <mat-icon [matBadge]="nbErrorsByPage.get(page.name)" [matBadgeHidden]="!nbErrorsByPage.get(page.name)"
            matBadgePosition="above before" matBadgeColor="warn">
          {{ page?.icon }}</mat-icon>
        </button>
      </mat-list-item>
    }
  </mat-nav-list>

  <div class="action-list">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <mat-list-item matTooltip="{{'Save' | translate}}" (click)="save($event)" matTooltipPosition="right"
        [class.disabled-item]="!persistenceService.isAvailable">
        <button mat-icon-button>
          <mat-icon>save</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item matTooltip="{{'Download configuration files' | translate}}" (click)="export()" matTooltipPosition="right">
        <button mat-icon-button>
          <mat-icon>save_alt</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
