<div class="menu_container">
  <div class="logo">
    <a matTooltip="Back to home page" [routerLink]="['/']" queryParamsHandling="preserve">
      <mat-icon class="icon">build_circle</mat-icon>
    </a>
  </div>

  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let page of pages" [matTooltip]="page?.tooltip | translate" [routerLink]="page?.link" routerLinkActive="active-menu"
        queryParamsHandling="preserve">
        <button mat-icon-button [disabled]="!page?.enabled" routerLinkActive="mat-accent">
          <mat-icon [matBadge]="nbErrorsByPage.get(page.name)" [matBadgeHidden]="!nbErrorsByPage.get(page.name)"
            matBadgePosition="above before" matBadgeColor="warn">
            {{ page?.icon }}</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div>
    <div class="action-list">
      <mat-nav-list>
        <mat-nav-list>
          <mat-list-item *ngFor="let link of links">
            <button matTooltip="{{ link.name | translate}}" mat-icon-button (click)="navigateTo(link.url)">
              <mat-icon>{{link.icon}}</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-list-item matTooltip="{{'Save' | translate}}" (click)="save($event)"
          [class.disabled-item]="!this.persistenceService.isAvailable">
          <button mat-icon-button>
            <mat-icon>save</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item matTooltip="{{'Download configuration files' | translate}}" (click)="export()">
          <button mat-icon-button>
            <mat-icon>save_alt</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="showLogOutButton" matTooltip="{{name}}" (click)="getUserInfos()">
          <button mat-icon-button>
            <img src="{{avatar}}" class="user_avatar">
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="showLogOutButton" matTooltip="{{'Log Out' | translate}}" (click)="logout()">
          <button mat-icon-button>
            <mat-icon>lock_open</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>