/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

// Tighten the display of inputs
.mat-mdc-form-field-infix {
  // Remove 8px from padding bottom and min height
  padding-bottom: 0 !important;
  min-height: 48px !important;

  // Increase the width to allow for more text to be displayed
  width: 250px !important;
}

// Avoid whitesmoke background of input
.mat-mdc-text-field-wrapper {
  background-color: white !important;
  padding: 0 !important;
}
.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

// Override dialog text variables
.mdc-dialog__title {
  --mdc-dialog-subhead-size: 20px;
  --mdc-dialog-subhead-font: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --mdc-dialog-subhead-weight: bold;
  --mdc-dialog-subhead-tracking: 0;
  --mat-dialog-headline-padding: 0;
}
.mdc-dialog__content {
  --mdc-dialog-supporting-text-font: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --mdc-dialog-supporting-text-tracking: 0;
  --mat-dialog-with-actions-content-padding: 10px;
}

// Add padding around dialog
.mdc-dialog__surface {
  padding: 24px;
}

// Reduce the apparent size of mat suffix icon
.mat-mdc-form-field-icon-suffix {
  .mat-mdc-icon-button {
    padding: 0;
    height: 24px;
    width: 24px;
  }
}

// Remove underline on mat tabs name
.mat-mdc-tab-link {
  text-decoration: none;
}
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: rgba(0, 0, 0, 0.6);
}

.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

// Change style of table back to how they were
.mdc-data-table__header-cell {
  font-size: 12px;
  font-weight: normal;
  color: #0000008a;
}
.mdc-data-table__cell {
  font-size: 14px;
  color: #000000de;
}
th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type {
  padding-left: 24px;
}

.mat-mdc-outlined-button {
  font-size: 14px;
  display: flex;
  white-space: nowrap;
}

.mdc-checkbox {
  --mdc-checkbox-state-layer-size: 18px;
}

.mdc-form-field > label {
  margin-left: 10px !important;
  font-size: 14px;
}

.mdc-button__label {
  font-size: 14px;
}

mat-nav-list .mat-mdc-list-item {
  padding: 0;
}

.mat-mdc-outlined-button > .mat-icon {
  margin: 0 !important;
}

.mdc-form-field--align-end {
  label {
    margin-left: 0 !important;
  }
}

.mdc-text-field--outlined {
  // Adjust width to accomodate for the margin and have space for the numeric scroller
  .mdc-text-field__input {
    width: calc(100% - 10px - 3px);
  }

  .mat-mdc-form-field-input-control {
    margin-left: 10px;
  }
}

mat-button-toggle-group .mat-button-toggle-appearance-standard .mat-button-toggle-label-content:has(mat-icon) {
  padding: 4px;
  line-height: 24px;
}

// Avoid clipping select values
mat-select .mat-mdc-select-value {
  overflow: unset;
}

.mat-mdc-optgroup-label {
  --mdc-list-list-item-label-text-color: grey;
}
