<!-- Displaying a control according to its enabled state is not yet supported -->
<!-- Add form-control-title class here to display a separation between -->
<div class="form-control-title array_header">
  @if (configFormGroupArray.title) {
    <h3 class="form-control-title">{{configFormGroupArray.title | translate}}</h3>
  }
  @if (configFormGroupArray.description) {
    <mat-icon class="icon" [matTooltip]="configFormGroupArray.description | translate"
      matTooltipPosition="right">info_outline</mat-icon>
  }
</div>
@if (configFormGroupArray.note) {
  <div class="note">
    {{configFormGroupArray.note | translate}}
  </div>
}
@for (formGroup of formGroups; track formGroup) {
  <div>
    <arlas-config-element>
      <div form-fields>
        <div class="form-group-form-fields">
          @for (control of formGroup.configFormControls; track control) {
            <div class="single-form-field">
              <!-- Handle only form controls by now, feel free to support other types if necessary -->
              <arlas-config-form-control [control]="control" [defaultKey]="defaultKey"></arlas-config-form-control>
            </div>
          }
        </div>
      </div>
      @if (formGroup.description) {
        <div description>
          @for (control of formGroup.configFormControls ; track control) {
            <div>
              {{control.description | translate}}
            </div>
          }
        </div>
      }
    </arlas-config-element>
  </div>
}

@if (configFormGroupArray.emptylistNote && formGroups.length === 0) {
  <div class="emptylist_note">
    {{configFormGroupArray.emptylistNote | translate}}
  </div>
}