<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            <ng-content select="[content]"></ng-content>
            <div *ngIf="formControl?.invalid && (formControl?.touched || formGroupDirective.submitted)">
                <mat-error *ngIf="formControl?.errors.required">
                    The field is mandatory.
                </mat-error>
                <mat-error *ngIf="formControl?.errors.max">
                    The value {{formControl?.errors.max.actual}} is above allowed value {{formControl?.errors.max.max}}.
                </mat-error>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ng-content select="[description]"></ng-content>

    </mat-card-content>
</mat-card>