@if (!!searchConfigurations && !!searchConfigurations.controls) {
  @for (s of searchConfigurations.controls ; track s; let i = $index) {
    <div class="search-config">
      <arlas-config-form-group [configFormGroup]="s" defaultKey=""></arlas-config-form-group>
      @if (i !== 0) {
        <button class="delete" [matTooltip]="'Delete search configuration' | translate" mat-icon-button (click)="deleteSearchConfiguration(i)">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  }
}

<div class="button-wrapper">
  <button matButton="outlined" color="primary" (click)="addSearchConfiguration()" [matTooltip]="'Add a search configuration' | translate" type="button">
    <mat-icon>add</mat-icon>
    {{'Add a search configuration' | translate}}
  </button>
</div>