@import "variables.scss";

.search-config {
    display: flex;

    ::ng-deep .no-child-step-tabs-div {
        display: flex !important;
        padding: 5px 0px;
        border-bottom: 1px dashed;
        width: fit-content;
    }

    ::ng-deep .config-element {
        box-shadow: none;
    }

    ::ng-deep .form-control-title {
        @include group-title();
        font-size: 22px;
        margin: 10px 0 5px 10px;
    }
    
}



.delete {
    position: relative;
    top: 30px;
}




.button-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}