<h3 class="form-control-title">{{'Edit a visualisation set' | translate}}</h3>
<arlas-config-form-group [configFormGroup]="visualisationFg" defaultKey="map.visualisation"></arlas-config-form-group>
@if (!!layers && layers.length > 0) {
  <div class="layers-list">
    <h3 class="form-control-title">{{'Reorder layers display' | translate}}</h3>
    <div class="layers-container" cdkDropList
      (cdkDropListDropped)="drop($event)">
      @for (l of layers; track l) {
        <div cdkDrag class="layer">
          <mat-icon cdkDragHandle class="draghandle">drag_indicator</mat-icon>
          {{l | layerIdToName}}
        </div>
      }
    </div>
  </div>
}
<div class="action-buttons">
  <button class="cancel-button" matButton="outlined" (click)="forceCanExit = true"
    [routerLink]="['', 'map-config', 'visualisations']" queryParamsHandling="preserve">{{ 'Cancel' | translate}}
  </button>
  <button matButton="filled" color="primary" type="submit" (click)="submit()">{{ 'Save' | translate}} </button>
</div>