<h3 style="font-weight: 500;">{{'Edit a visualisation set' | translate}}</h3>
<app-config-form-group [configFormGroup]="visualisationFg" defaultKey="map.visualisation"></app-config-form-group>

<div class="action-buttons">
    <button mat-raised-button color="primary" type="submit" (click)="submit()">{{ 'Save' | translate}} </button>
    <button class="cancel-button" mat-raised-button (click)="forceCanExit = true"
        [routerLink]="['', 'map-config', 'visualisations']" queryParamsHandling="preserve">{{ 'Cancel' | translate}} </button>
</div>