<div class="module">
    <div class="title-container">
        <app-config-form-control [control]="globalFg.customControls.useShare" defaultKey="sideModules.global" class="title">
        </app-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useShare.description | translate}}">info_outline</mat-icon>
    </div>
    <app-config-form-group [configFormGroup]="globalFg.customGroups.share" defaultKey="sideModules.global.share">
    </app-config-form-group>
</div>
<mat-divider></mat-divider>
<div class="module">
    <div class="title-container">
        <app-config-form-control [control]="globalFg.customControls.useDownload" defaultKey="sideModules.global"
        class="title">
        </app-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useDownload.description | translate}}">info_outline</mat-icon>
    </div>
    <app-config-form-group [configFormGroup]="globalFg.customGroups.download" defaultKey="sideModules.global.download">
    </app-config-form-group>
</div>
<mat-divider></mat-divider>
<div class="module">
    <div class="title-container">
        <app-config-form-control [control]="globalFg.customControls.useTagger" defaultKey="sideModules.global"
            class="title">
        </app-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useTagger.description | translate}}">info_outline</mat-icon>
    </div>
    <app-config-form-group [configFormGroup]="globalFg.customGroups.tagger" defaultKey="sideModules.global.tagger">
    </app-config-form-group>
</div>