<div class="module">
    <arlas-config-form-group [configFormGroup]="globalFg.customGroups.cache" defaultKey="sideModules.global.cache">
    </arlas-config-form-group>
</div>
<div class="module">
    <div class="title-container">
        <arlas-config-form-control [control]="globalFg.customControls.useShare" defaultKey="sideModules.global" class="title">
        </arlas-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useShare.description | translate}}">info_outline</mat-icon>
    </div>
    <arlas-config-form-group [configFormGroup]="globalFg.customGroups.share" defaultKey="sideModules.global.share">
    </arlas-config-form-group>
</div>
<mat-divider></mat-divider>
<div class="module">
    <div class="title-container">
        <arlas-config-form-control [control]="globalFg.customControls.useDownload" defaultKey="sideModules.global"
        class="title">
        </arlas-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useDownload.description | translate}}">info_outline</mat-icon>
    </div>
</div>
<mat-divider></mat-divider>
<div class="module">
    <div class="title-container">
        <arlas-config-form-control [control]="globalFg.customControls.useTagger" defaultKey="sideModules.global"
            class="title">
        </arlas-config-form-control>
        <mat-icon class="icon" matTooltip="{{globalFg.customControls.useTagger.description | translate}}">info_outline</mat-icon>
    </div>
    <arlas-config-form-group [configFormGroup]="globalFg.customGroups.tagger" defaultKey="sideModules.global.tagger">
    </arlas-config-form-group>
</div>