<form [formGroup]="globalFg">

    <app-config-form-control [control]="globalFg.customControls.useDetailedTimeline"></app-config-form-control>

    <mat-tab-group mat-align-tabs="center" animationDuration="500ms" mat-stretch-tabs>
        <mat-tab>

            <ng-template mat-tab-label>
                <span
                    [class.tab-error]="globalFg.customControls.dataStepGrp.touched && globalFg.customControls.dataStepGrp.invalid">
                    {{'Data' | translate}}
                </span>
            </ng-template>

            <app-config-form-group [configFormGroup]="globalFg.customControls.dataStepGrp"
                defaultKey="timeline.global.dataStep"></app-config-form-group>

        </mat-tab>
        <mat-tab>

            <ng-template mat-tab-label>
                <span
                    [class.tab-error]="globalFg.customControls.renderStepGrp.touched && globalFg.customControls.renderStepGrp.invalid">
                    {{'Render' | translate}}
                </span>
            </ng-template>

            <app-config-form-group [configFormGroup]="globalFg.customControls.renderStepGrp"
                defaultKey="timeline.global.renderStep"></app-config-form-group>

        </mat-tab>

    </mat-tab-group>

</form>