<arlas-mapgl #map [dataSources]="mapglContributor?.dataSources" [redrawSource]="mapglContributor?.redrawSource"
  [defaultBasemapStyle]="mapComponentConfig?.defaultBasemapStyle" [basemapStyles]="mapComponentConfig?.basemapStyles"
  [margePanForLoad]="mapComponentConfig?.margePanForLoad" [margePanForTest]="mapComponentConfig?.margePanForTest"
  [initCenter]="mapComponentConfig?.initCenter" [drawData]="mapglContributor?.geojsondraw"
  [initCenter]="mapComponentConfig?.initCenter" [initZoom]="mapComponentConfig?.initZoom"
  [minZoom]="mapComponentConfig?.minZoom" [maxZoom]="mapComponentConfig?.maxZoom" [displayScale]="true"
  [maxWidthScale]="mapComponentConfig?.maxWidthScale" [idFeatureField]="mapComponentConfig?.idFieldName"
  [mapLayers]="mapComponentConfig?.mapLayers" [mapSources]="mapComponentConfig?.mapSources"
  [displayLayerSwitcher]="false" [drawButtonEnabled]="false"
  [visualisationSetsConfig]="mapComponentConfig?.visualisations_sets" [legendUpdater]="mapglContributor?.legendUpdater"
  [visibilityUpdater]="mapglContributor?.visibilityUpdater"
  (visualisations)="mapglContributor.changeVisualisation($event)" (onAoiChanged)="mapglContributor?.onChangeAoi($event)"
  (onMove)="mapglContributor?.onMove($event)">
</arlas-mapgl>