<div [formGroup]="configFormGroup" class="main-form-group-div">
  @if (configFormGroup.title) {
    <h3 class="form-control-title">{{configFormGroup.title | translate}}</h3>
  }

  @if (hasChildSteps()) {
    <mat-horizontal-stepper #stepper class="stepper-for-config-element">
      @let controlValues = configFormGroup.controls | objectvalues;
      @for (control of controlValues; track control) {
        @if (control.enabled) {
          @if (isFormGroup(control); as formGroup) {
            @if (!formGroup.hide) {
              <mat-step label="{{formGroup.stepName | translate}}" [stepControl]="formGroup">
                <arlas-config-form-group [configFormGroup]="formGroup" [parentConfigFormGroup]="parentConfigFormGroup"
                  [defaultKey]="defaultKey" [isSubGroup]="true"></arlas-config-form-group>
                <div class="stepper-for-config-element__nav">
                  @if ($index > 0) {
                    <button matButton="outlined" matStepperPrevious>{{ 'Back' | translate}}</button>
                  }
                  @if ($index !== controlValues.length - 1) {
                    <button matButton="filled" color="primary" matStepperNext type="button">{{ 'Next' | translate}}</button>
                  }
                </div>
              </mat-step>
            }
          }
        }
      }
    </mat-horizontal-stepper>
  }

  @if (hasChildTabs()) {
    <mat-tab-group mat-stretch-tabs>
      @for (control of configFormGroup | orderConfigFormTabControls; track control) {
        @if (control.value.enabled) {
          @if (isFormGroup(control.value); as formGroup) {
            <mat-tab #tab bodyClass="no-overflow">
              <ng-template mat-tab-label>
                <span [class.tab-error]="formGroup.touched && formGroup.invalid && !tab.isActive">
                  {{formGroup.tabName | translate}}
                </span>
              </ng-template>
              <arlas-config-form-group [configFormGroup]="formGroup" [parentConfigFormGroup]="parentConfigFormGroup"
                [defaultKey]="defaultKey" [isSubGroup]="true"></arlas-config-form-group>
              <ng-content select="control.key"></ng-content>
            </mat-tab>
          }
        }
      }
    </mat-tab-group>
  }

  @if (!hasChildSteps() && !hasChildTabs()) {
    <div class="no-child-step-tabs-div">
      @for (control of configFormGroup.controls | objectvalues; track control) {
        @if (control.enabled) {
          @if (isFormControl(control); as formControl) {
            @if (!formControl.isChild) {
              @if (formControl.title) {
                <h3 class="form-control-title">{{formControl.title | translate}}</h3>
              }
              <arlas-config-element [fullSize]="!control.description">
                <div form-fields>
                  <arlas-config-form-control [control]="formControl" [parentFormGroup]="parentConfigFormGroup" [defaultKey]="defaultKey" (updateSyncOptions)="updateSyncOptions.next({prefix: $event, control: formControl})">
                  </arlas-config-form-control>
                  @for (child of formControl.childs(); track child) {
                    @if (child.enabled) {
                      <arlas-config-form-control [control]="child" [parentFormGroup]="parentConfigFormGroup" [defaultKey]="defaultKey" (updateSyncOptions)="updateSyncOptions.next({prefix: $event, control: child})">
                      </arlas-config-form-control>
                    }
                  }
                </div>
                @if (formControl.description) {
                  <div description>
                    <div>
                      {{ formControl.description | translate:{ property: formControl.propertyName | translate } | upperFirst }}
                    </div>
                    @for (child of formControl.childs(); track child) {
                      @if (child.enabled) {
                        <div>
                          {{ child.description | translate:{ property: child.propertyName | translate } | upperFirst }}
                        </div>
                      }
                    }
                  </div>
                }
              </arlas-config-element>
            }
          }
          @if (isFormGroup(control); as formGroup;) {
            <arlas-config-form-group [configFormGroup]="formGroup" [parentConfigFormGroup]="parentConfigFormGroup" [defaultKey]="defaultKey" [isSubGroup]="true">
            </arlas-config-form-group>
          }
          @if (isHistogramBucketFormGroup(control); as formGroup;) {
            <arlas-histogram-bucket-form-group [configFormGroup]="formGroup" [parentConfigFormGroup]="parentConfigFormGroup" [defaultKey]="defaultKey" [isSubGroup]="true">
            </arlas-histogram-bucket-form-group>
          }
          @if (isFormGroupArray(control); as formGroupArray) {
            <arlas-config-form-group-array [configFormGroupArray]="formGroupArray"  [defaultKey]="defaultKey">
            </arlas-config-form-group-array>
          }
        }
      }
    </div>
  }
</div>
