<div [formGroup]="configFormGroup">
    <h3 *ngIf="configFormGroup.title" class="form-group-title">{{configFormGroup.title | translate}}</h3>
    <div *ngFor="let control of configFormGroup.controls | objectvalues">
        <div *ngIf="control.enabled">
            <div *ngIf="isFormControl(control); let formControl">
                <div *ngIf="!formControl.isChild">
                    <app-config-element>
                        <div form-fields>
                            <app-config-form-control [control]="formControl" [defaultKey]="defaultKey">
                            </app-config-form-control>
                            <div *ngFor="let child of formControl.childs()">
                                <div *ngIf="child.enabled">
                                    <app-config-form-control [control]="child" [defaultKey]="defaultKey">
                                    </app-config-form-control>
                                </div>
                            </div>
                        </div>
                        <div description>
                            <div *ngIf="control.isDescriptionHtml" [innerHtml]="trustHtml(control.description)">
                            </div>
                            <div *ngIf="!control.isDescriptionHtml">
                                {{ control.description | translate}}
                            </div>

                            <div *ngFor="let child of formControl.childs()">
                                <div *ngIf="child.enabled">
                                    {{ child.description | translate}}
                                </div>
                            </div>
                        </div>
                    </app-config-element>
                </div>
            </div>
            <div *ngIf="isFormGroup(control); let formGroup">
                <app-config-form-group [configFormGroup]="formGroup">
                </app-config-form-group>
            </div>
        </div>
    </div>