<mat-tab-group mat-stretch-tabs>
    <mat-tab #columns>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">list</mat-icon>
      <span [class.tab-error]="control.controls.columns.touched && control.controls.columns.invalid && !columns.isActive">
        {{ 'Table' | translate }}
      </span>
        </ng-template>
        <arlas-edit-resultlist-columns [collection]="control.controls.collection"
                                       [control]="control.controls.columns">
        </arlas-edit-resultlist-columns>

    </mat-tab>
    <mat-tab #cards>
        <ng-template mat-tab-label>
            <mat-icon class="tab__icon tab__icon--reverse">event_list</mat-icon>
      <span [class.tab-error]="control.controls.cardViewProperties.touched && control.controls.cardViewProperties.invalid && !cards.isActive">
        {{ 'Card' | translate }}
      </span>
        </ng-template>
        <arlas-edit-card-resultlist-columns [collection]="control.controls.collection"
                                            [control]="control.controls.cardViewProperties">
        </arlas-edit-card-resultlist-columns>
    </mat-tab>
    <mat-tab #grid>
        <ng-template mat-tab-label>
            <mat-icon class="tab__icon">grid_view</mat-icon>
      <span [class.tab-error]="control.controls.grid.touched && control.controls.grid.invalid && !grid.isActive">
        {{ 'Grid' | translate }}
      </span>
        </ng-template>
       @for (formGroup of control.controls.grid.controls | keyvalue; track $index){
           @if(formGroup.value | isConfigFormControl){
               <div class="grid-form-control">
                   <arlas-config-form-control [control]="formGroup.value"></arlas-config-form-control>
               </div>

           } @else {
               <arlas-config-form-group [configFormGroup]="$any(formGroup.value)">
               </arlas-config-form-group>
           }
       }


    </mat-tab>
    <mat-tab #details>
        <ng-template mat-tab-label>
            <mat-icon class="tab__icon">view_list</mat-icon>
          <span [class.tab-error]="control.controls.details.touched && control.controls.details.invalid && !details.isActive">
            {{ 'Details' | translate }}
          </span>
        </ng-template>
        <div class="details-title">
            <arlas-config-element [fullSize]="!detailsTitleControl.description">
                <div form-fields>
                    <arlas-config-form-control [control]="detailsTitleControl"></arlas-config-form-control>
                </div>
                @if (detailsTitleControl.description) {
                    <div description>
                        {{ detailsTitleControl.description | translate }}
                    </div>
                }
            </arlas-config-element>
        </div>
        <arlas-edit-resultlist-details [collection]="control.controls.collection" [control]="control.controls.details">
        </arlas-edit-resultlist-details>
    </mat-tab>
</mat-tab-group>