<mat-tab-group mat-stretch-tabs class="mat-elevation-z1">
    <mat-tab #columns>
        <ng-template mat-tab-label>
            <span
                [class.tab-error]="control.get('columns').touched && control.get('columns').invalid && !columns.isActive">
                {{'Columns' | translate}}
            </span>
        </ng-template>
        <arlas-edit-resultlist-columns [control]="control.get('columns')" [collection]="control.get('collection')">
        </arlas-edit-resultlist-columns>
    </mat-tab>
    <mat-tab #details>
        <ng-template mat-tab-label>
            <span
                [class.tab-error]="control.get('details').touched && control.get('details').invalid && !details.isActive">
                {{'Details' | translate}}
            </span>
        </ng-template>
        <arlas-edit-resultlist-details [control]="control.get('details')" [collection]="control.get('collection')">
        </arlas-edit-resultlist-details>
    </mat-tab>
</mat-tab-group>