<mat-tab-group class="mat-elevation-z1" mat-stretch-tabs>
    <mat-tab #columns>
        <ng-template mat-tab-label>
      <span [class.tab-error]="control.controls.columns.touched && control.controls.columns.invalid && !columns.isActive">
        {{ 'Table' | translate }}
      </span>
        </ng-template>
            <arlas-edit-resultlist-columns [collection]="control.controls.collection"
                                           [control]="control.controls.columns">
            </arlas-edit-resultlist-columns>

    </mat-tab>
   <mat-tab #grid>
        <ng-template mat-tab-label>
      <span [class.tab-error]="control.controls.grid.touched && control.controls.grid.invalid && !grid.isActive">
        {{ 'Grid' | translate }}
      </span>
        </ng-template>
       @for (formGroup of control.controls.grid.controls | keyvalue; track $index){
           @if(formGroup.value | isConfigFormControl){
               <div class="grid-form-control">
                   <arlas-config-form-control [control]="formGroup.value"></arlas-config-form-control>
               </div>

           } @else {
               <arlas-config-form-group [configFormGroup]="$any(formGroup.value)">
               </arlas-config-form-group>
           }
       }


    </mat-tab>
    <mat-tab #details>
        <ng-template mat-tab-label>
      <span [class.tab-error]="control.controls.details.touched && control.controls.details.invalid && !details.isActive">
        {{ 'Details' | translate }}
      </span>
        </ng-template>

        <div class="details-title">
            <arlas-config-element [fullSize]="!detailsTitleControl.description">
                <div form-fields>
                    <arlas-config-form-control [control]="detailsTitleControl"></arlas-config-form-control>
                </div>
                @if (detailsTitleControl.description) {
                    <div description>
                        {{ detailsTitleControl.description | translate }}
                    </div>
                }
            </arlas-config-element>
        </div>
        <arlas-edit-resultlist-details [collection]="control.controls.collection" [control]="control.controls.details">
        </arlas-edit-resultlist-details>
    </mat-tab>
</mat-tab-group>