<ng-container [formGroup]="formFg">
    <mat-form-field>
        <mat-label>{{propertyName | translate | titlecase}} {{' source' | translate}}</mat-label>
        <mat-select formControlName="propertySourceCtrl" appAlertOnChange="changing the source will reset your choices"
            [dependants]="[propertyFixCtrl, propertyProvidedFieldCtrl, 
            propertyGeneratedFieldCtrl, propertyManualFg, propertyInterpolatedFg]" [appResetOnChange]="defaultKey">
            <mat-option *ngFor="let source of sources" [value]="source">
                {{source | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>

        <div *ngIf="propertySourceCtrl.value == PROPERTY_SELECTOR_SOURCE.fix">
            <div *ngIf="propertyType === PROPERTY_TYPE.color">
                <app-color-picker-wrapper [value]="propertyFixCtrl.value" (setValue)="setPropertyFix($event)">
                </app-color-picker-wrapper>
            </div>
            <div *ngIf="propertyType === PROPERTY_TYPE.number">
                <mat-label>{{ propertyName | translate | titlecase}}</mat-label>
                <!-- Dynamically reading default value from the propertyName -->
                <mat-slider [min]="defaultValueService.getDefaultConfig()[propertyName + 'Min']"
                    [max]="defaultValueService.getDefaultConfig()[propertyName + 'Max']"
                    [step]="defaultValueService.getDefaultConfig()[propertyName + 'Step']" thumbLabel
                    formControlName="propertyFixCtrl">
                </mat-slider>
            </div>
        </div>

        <div *ngIf="propertySourceCtrl.value == PROPERTY_SELECTOR_SOURCE.provided">
            <mat-form-field>
                <mat-label>{{'Source field' | translate}}</mat-label>
                <mat-select formControlName="propertyProvidedFieldCtrl">
                    <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                        {{ field }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="propertySourceCtrl.value == PROPERTY_SELECTOR_SOURCE.generated">
            <mat-form-field>
                <mat-label>{{'Source field' | translate}}</mat-label>
                <mat-select formControlName="propertyGeneratedFieldCtrl">
                    <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                        {{ field }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="propertySourceCtrl.value == PROPERTY_SELECTOR_SOURCE.manual" formGroupName="propertyManualFg">
            <mat-form-field>
                <mat-label>{{'Source field' | translate}}</mat-label>
                <!-- No [dependants] because we manually set the new values on source field change -->
                <mat-select formControlName="propertyManualFieldCtrl"
                    appAlertOnChange="Changing the source field will reset the colors" [appResetOnChange]="defaultKey">
                    <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                        {{ field }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button type="button" mat-raised-button color="primary" (click)="openManualColorTable()"
                    *ngIf="propertyManualFieldCtrl?.value">
                    {{'Manage colors' | translate}}
                </button>
            </div>
        </div>

        <div *ngIf="propertySourceCtrl.value == PROPERTY_SELECTOR_SOURCE.interpolated"
            formGroupName="propertyInterpolatedFg">

            <div>
                <div *ngIf="aggregated">
                    <div>
                        <mat-label>{{'Count' | translate}}</mat-label>
                        <mat-slide-toggle formControlName="propertyInterpolatedCountOrMetricCtrl"
                            [appResetOnChange]="defaultKey"
                            [dependants]="[propertyInterpolatedMetricCtrl, propertyInterpolatedFieldCtrl]">
                        </mat-slide-toggle>
                        <mat-label>{{'Metric' | translate}}</mat-label>
                    </div>
                    <div *ngIf="propertyInterpolatedCountOrMetricCtrl.value">
                        <mat-form-field>
                            <mat-label>{{'Metric' | translate}}</mat-label>
                            <mat-select formControlName="propertyInterpolatedMetricCtrl" [appResetOnChange]="defaultKey"
                                [dependants]="[propertyInterpolatedFieldCtrl]">
                                <mat-option *ngFor="let metric of METRICS" [value]="metric">
                                    {{ metric }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                    </div>
                </div>
                <div *ngIf="!aggregated || aggregated && propertyInterpolatedMetricCtrl.value">
                    <mat-form-field>
                        <mat-label>{{'Source field' | translate}}</mat-label>
                        <mat-select formControlName="propertyInterpolatedFieldCtrl" [appResetOnChange]="defaultKey"
                            [dependants]="[propertyInterpolatedMinFieldValueCtrl, propertyInterpolatedMaxFieldValueCtrl, propertyInterpolatedNormalizeLocalFieldCtrl,
                            propertyInterpolatedNormalizeCtrl, propertyInterpolatedNormalizeByKeyCtrl]">
                            <mat-option *ngFor="let field of interpolatedFields" [value]="field">
                                {{ field }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="propertyInterpolatedFieldCtrl.value">
                <div>
                    <mat-label>{{'Normalize' | translate}}</mat-label>
                    <mat-slide-toggle formControlName="propertyInterpolatedNormalizeCtrl" labelPosition="before"
                        appResetOnChange="map.layer" [dependants]="[propertyInterpolatedScopeCtrl, propertyInterpolatedNormalizeByKeyCtrl, 
                        propertyInterpolatedNormalizeLocalFieldCtrl, propertyInterpolatedMinFieldValueCtrl, propertyInterpolatedMaxFieldValueCtrl,
                        propertyInterpolatedValuesCtrl]">
                    </mat-slide-toggle>
                </div>

                <div *ngIf="propertyInterpolatedNormalizeCtrl.value">
                    <mat-form-field>
                        <mat-label>{{'Scope' | translate}}</mat-label>
                        <mat-select formControlName="propertyInterpolatedScopeCtrl" [appResetOnChange]="defaultKey"
                            [dependants]="[propertyInterpolatedNormalizeByKeyCtrl, propertyInterpolatedNormalizeLocalFieldCtrl]">
                            <mat-option value="local">{{'Local' | translate}}</mat-option>
                            <mat-option value="global">{{'Global' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="!aggregated">

                        <div *ngIf="propertyInterpolatedScopeCtrl.value === 'local'">
                            <mat-label>{{'Normalize by key' | translate}}</mat-label>
                            <mat-slide-toggle formControlName="propertyInterpolatedNormalizeByKeyCtrl"
                                labelPosition="before" [appResetOnChange]="defaultKey"
                                [dependants]="[propertyInterpolatedNormalizeLocalFieldCtrl]">
                            </mat-slide-toggle>
                        </div>

                        <div *ngIf="propertyInterpolatedNormalizeByKeyCtrl.value">
                            <mat-form-field>
                                <mat-select formControlName="propertyInterpolatedNormalizeLocalFieldCtrl">
                                    <mat-option *ngFor="let field of collectionKeywordFields" [value]="field">
                                        {{ field }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div *ngIf="!propertyInterpolatedNormalizeCtrl.value">
                    <div>
                        <mat-form-field>
                            <mat-label>{{'Minimum value of' | translate}}
                                {{propertyInterpolatedFg.value.propertyInterpolatedFieldCtrl}}</mat-label>
                            <input matInput type="number" formControlName="propertyInterpolatedMinFieldValueCtrl"
                                appAlertOnChange="Changing this value will reset the palette" appResetOnChange
                                [dependants]="propertyType === PROPERTY_TYPE.color ? [propertyInterpolatedValuesCtrl] : []">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{'Maximum value of ' | translate}}
                                {{propertyInterpolatedFg.value.propertyInterpolatedFieldCtrl}}</mat-label>
                            <input matInput type="number" formControlName="propertyInterpolatedMaxFieldValueCtrl"
                                appAlertOnChange="Changing this value will reset the palette" appResetOnChange
                                [dependants]="propertyType === PROPERTY_TYPE.color ? [propertyInterpolatedValuesCtrl] : []">
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <div *ngIf="propertyType === PROPERTY_TYPE.color">
                        <button type="button" mat-raised-button (click)="openPaletteTable()" class="palette-button"
                            [disabled]="!propertyInterpolatedNormalizeCtrl.value 
                        && (!propertyInterpolatedMinFieldValueCtrl.valid || !propertyInterpolatedMaxFieldValueCtrl.valid || propertyInterpolatedFg?.errors?.lte)">
                            {{'Manage palette' | translate}}
                        </button>
                    </div>
                    <div *ngIf="propertyType === PROPERTY_TYPE.number">
                        <div>
                            <mat-label>{{'Minimum' | translate}} {{propertyName | translate}} </mat-label>
                            <mat-slider [min]="defaultValueService.getDefaultConfig()[propertyName + 'Min']"
                                [max]="defaultValueService.getDefaultConfig()[propertyName + 'Max']"
                                [step]="defaultValueService.getDefaultConfig()[propertyName + 'Step']" thumbLabel
                                formControlName="propertyInterpolatedMinValueCtrl"
                                (input)="ensureMinLessThanMax($event.value, propertyInterpolatedMinValueCtrl, propertyInterpolatedMaxValueCtrl, 'min')">
                            </mat-slider>
                        </div>
                        <div>
                            <mat-label>{{'Maximum' | translate}} {{propertyName | translate}}</mat-label>
                            <mat-slider [min]="defaultValueService.getDefaultConfig()[propertyName + 'Min']"
                                [max]="defaultValueService.getDefaultConfig()[propertyName + 'Max']"
                                [step]="defaultValueService.getDefaultConfig()[propertyName + 'Step']" thumbLabel
                                formControlName="propertyInterpolatedMaxValueCtrl"
                                (input)="ensureMinLessThanMax($event.value, propertyInterpolatedMinValueCtrl, propertyInterpolatedMaxValueCtrl, 'max')">
                            </mat-slider>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="formFg?.invalid && formFg.touched">
            <mat-error *ngIf=" propertyFixCtrl.touched && propertyFixCtrl?.errors?.required">
                {{'A value is required' | translate}}
            </mat-error>
            <mat-error *ngIf="propertyProvidedFieldCtrl.touched && propertyProvidedFieldCtrl?.errors?.required 
                || propertyGeneratedFieldCtrl.touched && propertyGeneratedFieldCtrl?.errors?.required 
                || propertyManualFieldCtrl.touched && propertyManualFieldCtrl?.errors?.required 
                || propertyInterpolatedFieldCtrl.touched && propertyInterpolatedFieldCtrl?.errors?.required">
                {{'A source field is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMinFieldValueCtrl.touched && propertyInterpolatedMinFieldValueCtrl?.errors?.required">
                {{'A minimum field value is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMaxFieldValueCtrl.touched && propertyInterpolatedMaxFieldValueCtrl?.errors?.required">
                {{'A maximum field value is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMinValueCtrl.touched && propertyInterpolatedMinValueCtrl?.errors?.required">
                {{'A minimum value is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMaxValueCtrl.touched && propertyInterpolatedMaxValueCtrl?.errors?.required">
                {{'A maximum value is required' | translate}}
            </mat-error>
            <mat-error *ngIf="propertyInterpolatedScopeCtrl.touched && propertyInterpolatedScopeCtrl?.errors?.required">
                {{'A scope is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedNormalizeLocalFieldCtrl.touched && propertyInterpolatedNormalizeLocalFieldCtrl?.errors?.required">
                {{'A local-normalization field is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMinFieldValueCtrl.value && propertyInterpolatedMaxFieldValueCtrl.valid && propertyInterpolatedFg?.errors?.lte">
                {{'The minimum field value must be less than the maximum field value' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedMinValueCtrl.value && propertyInterpolatedMaxValueCtrl.valid && propertyInterpolatedFg?.errors?.lte">
                {{'The minimum value must be less than the maximum value' | translate}}
            </mat-error>
            <mat-error
                *ngIf="propertyInterpolatedValuesCtrl.touched && propertyInterpolatedValuesCtrl?.errors?.required">
                {{'Interpolated values are required' | translate}}
            </mat-error>
        </div>

    </div>
</ng-container>