<ng-container *ngIf="configChoice === InitialChoice.setup">
    <ngx-spinner [name]="'connectServer'" bdOpacity="0.2" bdColor="rgba(51,51,51,0.6)" size="medium" color="#fff"
        type="ball-clip-rotate-pulse">
        <p style="color: white"> {{'Connect to ARLAS Server...' | translate }} </p>
    </ngx-spinner>
    <h2 mat-dialog-title>{{'New dashboard' | translate}}</h2>
    <mat-dialog-content class="new-config-content">
        <div [formGroup]="this.mainFormService.startingConfig.getFg()">
            <arlas-config-element [fullSize]="true">
                <div form-fields class="server-url">
                    <mat-form-field>
                        <mat-label>{{'Server URL' | translate}}</mat-label>
                        <input matInput (keyup)="onKeyUp($event)"
                            (change)="this.mainFormService.startingConfig.getFg().get('serverUrl').valid ? checkUrl() : false"
                            formControlName="serverUrl" type="url">
                    </mat-form-field>
                    <button
                        (click)="this.mainFormService.startingConfig.getFg().get('serverUrl').valid ? checkUrl() : false"
                        [disabled]="this.mainFormService.startingConfig.getFg().get('serverUrl').invalid"
                        mat-stroked-button color="accent">{{'Show collections' | translate}}</button>
                </div>
            </arlas-config-element>
            <arlas-config-element *ngIf="isServerReady">
                <div form-fields class="collection">
                    <mat-form-field>
                        <mat-label>{{'Main collection' | translate}}</mat-label>
                        <mat-select formControlName="collection">
                            <mat-option *ngFor="let collection of availablesCollections" value="{{collection}}">
                                {{collection}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>
                    {{'Choose main collection' | translate}}
                </div>
            </arlas-config-element>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="configChoice = InitialChoice.none; cancel()">{{'Back' | translate}}</button>
        <button (click)="saveConfig()" [disabled]="this.mainFormService.startingConfig.getFg().invalid"
            mat-raised-button color="primary">{{'Start' | translate}}</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="configChoice === InitialChoice.load">
    <h2 mat-dialog-title>{{'Import a file' | translate}}</h2>
    <mat-dialog-content class="import-content">
        <div class="upload-files">
            <div class="upload-single-files">
                <!-- No material file input exists, so we hide the basic input behind a material button -->
                <button type="button" mat-stroked-button color="accent" (click)="confFileInput.click()">
                    {{ 'Select a config.json file' | translate }}
                    <span *ngIf="confFileInput.files.length" class="upload-check">
                        <mat-icon>check</mat-icon>
                    </span>
                </button>
                <!-- (change), even empty, needed to refresh the UI -->
                <input hidden (change)="null" #confFileInput type="file">
            </div>
            <div class="upload-single-files">
                <!-- No material file input exists, so we hide the basic input behind a material button -->
                <button type="button" mat-stroked-button color="accent" (click)="mapFileInput.click()">
                    {{ 'Select a config.map.json file' | translate }}
                    <span *ngIf="mapFileInput.files.length" class="upload-check">
                        <mat-icon>check</mat-icon>
                    </span>
                </button>
                <!-- (change), even empty, needed to refresh the UI -->
                <input hidden (change)="null" #mapFileInput type="file">
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="configChoice = InitialChoice.none;cancel()">{{'Back' | translate}}</button>
        <button (click)="upload(confFileInput.files[0], mapFileInput.files[0]);"
            [disabled]="!confFileInput.files.length || !mapFileInput.files.length" mat-raised-button color="primary">

            {{'Start' | translate}}</button>
    </mat-dialog-actions>

</ng-container>
