<div class="landing-container" *ngIf="!configChoice">
    <div class="bloc" (click)="config('new')">
        <mat-icon>add</mat-icon>
        <span>{{'New configuration' | translate}}</span>
    </div>
    <div class="bloc" (click)="config('load')">
        <mat-icon>get_app</mat-icon>
        <span>{{'Import from file' | translate}}</span>
    </div>
</div>
<ng-container *ngIf="configChoice">
    <h2 mat-dialog-title>{{'Set ARLAS Server url' | translate}}</h2>
    <mat-dialog-content>
        <div [formGroup]="this.mainFormService.startingConfig.getFg()">
            <app-config-element [fullSize]="true">
                <div form-fields class="server-url">
                    <mat-form-field>
                        <mat-label>{{'Server URL' | translate}}</mat-label>
                        <input matInput
                            (change)="this.mainFormService.startingConfig.getFg().get('serverUrl').valid ? checkUrl() : false"
                            formControlName="serverUrl">
                    </mat-form-field>
                </div>
            </app-config-element>
            <app-config-element *ngIf="isServerReady">
                <div form-fields class="collection">
                    <mat-form-field>
                        <mat-label>{{'Collections' | translate}}</mat-label>
                        <mat-select formControlName="collections" multiple>
                            <mat-option *ngFor="let collection of availablesCollections" value="{{collection}}">
                                {{ collection}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>
                    {{'Choose collections available in configuration.' | translate}}<br />
                    Only one for now.
                </div>
            </app-config-element>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="this.startEvent.next('new');" [disabled]="this.mainFormService.startingConfig.getFg().invalid"
            mat-raised-button color="primary">{{'Start configuration' | translate}}</button>
    </mat-dialog-actions>
</ng-container>