<div style="display: flex; margin: 10px 0">
    <button mat-raised-button color="primary" class="add-visu" [routerLink]="['add']" queryParamsHandling="preserve">
        {{'Add visualisation' | translate}}
    </button>
    <div class="description">
        {{'visualisation set description' | translate}}
    </div>
</div>

<table mat-table [dataSource]="visualisationsFa.value" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'Name' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="layers">
        <th mat-header-cell *matHeaderCellDef>{{'Layers' | translate}}</th>
        <td mat-cell *matCellDef="let element">
            <div>
                <span style="display: block;" *ngFor="let l of element.layers"> - {{l}}</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="displayed">
        <th mat-header-cell *matHeaderCellDef>{{'Displayed by default' | translate}}</th>
        <td mat-cell *matCellDef="let element"> 
            <mat-checkbox [checked]="element.displayed" [disabled]="true"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{'Actions' | translate}}</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item (click)="preview(element.id, element.name)">
                    <mat-icon>visibility</mat-icon>
                    <span>{{'Preview' | translate}}</span>
                </button> -->
                <button mat-menu-item [routerLink]="['edit', element.id]" queryParamsHandling="preserve">
                    <mat-icon>edit</mat-icon>
                    <span>{{'Edit' | translate}}</span>
                </button>
                <!-- <button mat-menu-item (click)="confirmDelete(element.id, element.name)">
                    <mat-icon>delete</mat-icon>
                    <span>{{'Delete' | translate}}</span>
                </button> -->
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-error *ngIf="visualisationsFa.touched && visualisationsFa.errors?.required">
    {{'At least one visualisation set is required' | translate}}
</mat-error>