<div class="manage-visualisation__container">
    <div class="manage-visualisation__header-container">
        <button mat-icon-button [matTooltip]="'Back to visualisation list' | translate" (click)="cancelVisualisation()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="manage-visualisation__header">
            <h3 class="title">{{ visualisation()?.customControls.name.value | titlecase }}</h3>
            <span class="sub-title">
                @if (isEdition()) {
                    {{ 'Manage visualisation' | translate }}
                } @else {
                    {{ 'Create a visualisation' | translate }}
                }
            </span>
        </div>
    </div>
    <!-- visualisation inputs -->
    <div class="manage-visualisation__inputs">
        <arlas-config-form-control [showLabel]="true"
                                   [control]="visualisation()?.controls.name"></arlas-config-form-control>
        <arlas-config-form-control class="inputs-description" [showLabel]="true"
                                   [control]="visualisation()?.controls.description"></arlas-config-form-control>
    </div>
    <div class="body-text">
        {{ 'Configure data eligible for visualisation' | translate: {name: (visualisation()?.value.name | lowercase)} }}
    </div>
    <!-- add button -->
    <button mat-stroked-button color="primary"
            class="manage-visualisation__button"
            (click)="addDataGroup()"
    >
        <mat-icon>add</mat-icon>
        {{ 'Add data group' | translate }}
    </button>
   <!-- table -->
    <table class="table" mat-table [dataSource]="dataGroups"
           cdkDropList [cdkDropListData]="visualisation" (cdkDropListDropped)="dropItemFamily($event)"
           [cdkDropListDisabled]="dragDisabled" [cdkDropListLockAxis]="'y'">
        <!-- Drag Column -->
        <ng-container matColumnDef="drag">
            <th mat-header-cell *matHeaderCellDef class="table-col-drag"></th>
            <td mat-cell *matCellDef="let element" class="table-col-drag">
                <mat-icon class="drag" (mouseenter)="dragDisabled = false" (mouseup)="dragDisabled = true">
                    drag_indicator
                </mat-icon>
            </td>
        </ng-container>
        <!-- Data group Column -->
        <ng-container matColumnDef="dataGroup">
            <th mat-header-cell *matHeaderCellDef>{{ 'Data group name' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element?.controls?.name.value }}</td>
        </ng-container>
        <!-- Protocol Column -->
        <ng-container matColumnDef="protocol">
            <th mat-header-cell *matHeaderCellDef>{{ 'Protocol' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element?.controls?.protocol.value }}</td>
        </ng-container>
        <!-- VisualisationUrl Column -->
        <ng-container matColumnDef="visualisationUrl">
            <th mat-header-cell *matHeaderCellDef>{{ 'View URL' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element?.controls?.visualisationUrl.value }}</td>
        </ng-container>
        <!-- Condition Column -->
        <ng-container matColumnDef="conditions">
            <th mat-header-cell *matHeaderCellDef>{{ 'Condition' }}</th>
            <td mat-cell *matCellDef="let element">
                <ul class="manage-visualisation__condtions">
                    @for (filter of element.value.filters; track $index; let last = $last) {
                        <li>
                            <span class="condition-text">{{ filter.filterField.value | translate }}</span>
                            <span class="condition-text">{{ filter.filterOperation | translate }}</span>
                            <span *ngTemplateOutlet="conditions;context:
                        {operation: filter.filterOperation, input: filter.filterValues}"></span>
                            <span class="condition-text" [class.not-display]="last">{{ 'And' | translate | lowercase}}</span>
                        </li>
                    }
                </ul>
            </td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="action-icon-wrapper">
                    <mat-icon [matTooltip]="'Edit condition' | translate" (click)="editDataGroup(i)">edit</mat-icon>
                    <mat-icon [matTooltip]="'Delete condition' | translate" (click)="removeDataGroup(i)">delete
                    </mat-icon>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="column-drag" mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag
            [cdkDragData]="row"></tr>
    </table>
    <div class="manage-visualisation__footer">
        @if (!isEdition()) {
            <button (click)="cancelVisualisation()" mat-stroked-button color="secondary"
                    class="manage-visualisation__button">
                {{ 'Cancel' | translate }}
            </button>
            <button [disabled]="visualisation().invalid" (click)="validateVisualisation()" mat-stroked-button
                    color="primary" class="manage-visualisation__button">
                {{ 'Validate' | translate }}
            </button>
        } @else {
            <button [matTooltip]="'Back to visualisation list' | translate" (click)="cancelVisualisation()"
                    mat-stroked-button color="secondary"
                    class="manage-visualisation__button">
                {{ 'Back' | translate }}
            </button>
        }
    </div>
</div>


<ng-template #conditions let-operation="operation" let-input="input">
    <span class="condition-text">
            <ng-container class="in-values-input" *ngIf="operation === 'IN' || operation === 'NOT_IN'"
                          style="padding-left: 15px;">
        ( <span *ngFor="let value of input.filterInValues"> {{ value.value }}</span> )
    </ng-container>
    <ng-container
            *ngIf="operation === 'EQUAL' || operation === 'NOT_EQUAL'">{{ input?.filterEqualValues }}</ng-container>
    <ng-container *ngIf="operation === 'RANGE' || operation === 'OUT_RANGE'">[{{ input?.filterMinRangeValues }}
        , {{ input?.filterMaxRangeValues }}] </ng-container>
    <ng-container *ngIf="operation === 'IS'">{{ input?.filterBoolean.toString() | translate }} </ng-container>
    </span>
</ng-template>
