<mat-form-field>
    <mat-select [required]="!control?.optional" [formControl]="selectMultiFc" [multiple]="true"
                [placeholder]="control?.label " #multiSelect>
        <mat-option>
            <ngx-mat-select-search
                    [formControl]="selectSearchFilterFc"
                    [placeholderLabel]="'Search...' | translate"
                    [noEntriesFoundLabel]="'No results' | translate"
            ></ngx-mat-select-search>
        </mat-option>
        @for (option of filteredSyncOption | async; track option.value){
            <mat-option [value]="option">
                {{option?.label | translate}}
            </mat-option>
        }
    </mat-select>
</mat-form-field>

