<app-edit-layer-mode-form [submit]="submitSubject.asObservable()"
    [colorFgSources]="PROPERTY_SELECTOR_SOURCE | objectvalues">
    <div requested-geometry>
        <h3 class="layer-section-title">Requested geometry</h3>
        <app-config-element>
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Aggregation field' | translate}} </mat-label>
                    <mat-select [formControl]="aggGeometryCtrl">
                        <mat-option *ngFor="let field of getPointFields()" [value]="field">{{field}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div description>
                {{ 'Choose the geometry field ...' | translate}}
            </div>
        </app-config-element>
        <app-config-element>
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Granularity' | translate}} </mat-label>
                    <mat-select [formControl]="granularityCtrl">
                        <mat-option [value]="GRANULARITY.coarse">{{ 'Coarse' | translate}}</mat-option>
                        <mat-option [value]="GRANULARITY.fine">{{ 'Fine' | translate}}</mat-option>
                        <mat-option [value]="GRANULARITY.finest">{{ 'Finest' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div description>

            </div>
        </app-config-element>
    </div>
    <div displayed-geometry>
        <h3 class="layer-section-title">Displayed geometry</h3>
        <app-config-element>
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Type' | translate}} </mat-label>
                    <mat-select [formControl]="clusterGeometryTypeCtrl">
                        <mat-option [value]="CLUSTER_GEOMETRY_TYPE.aggregated_geometry">{{ 'Aggregated geometry' | translate}}</mat-option>
                        <mat-option [value]="CLUSTER_GEOMETRY_TYPE.raw_geometry">{{ 'Raw Geometry' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div description>
               
            </div>
        </app-config-element>
        <app-config-element *ngIf="clusterGeometryTypeCtrl.value === CLUSTER_GEOMETRY_TYPE.aggregated_geometry">
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Type' | translate}} </mat-label>
                    <mat-select [formControl]="aggregatedGeometryCtrl">
                        <mat-option [value]="AGGREGATE_GEOMETRY_TYPE.geohash_center">{{ 'Cell center' | translate}}</mat-option>
                        <mat-option [value]="AGGREGATE_GEOMETRY_TYPE.geohash">{{ 'Cell' | translate}}</mat-option>
                        <mat-option [value]="AGGREGATE_GEOMETRY_TYPE.bbox">{{ 'Data cell bbox' | translate}}</mat-option>
                        <mat-option [value]="AGGREGATE_GEOMETRY_TYPE.centroid">{{ 'Data cell centroid' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div description>
               
            </div>
        </app-config-element>
        <app-config-element *ngIf="clusterGeometryTypeCtrl.value === CLUSTER_GEOMETRY_TYPE.raw_geometry">
            <div form-fields>
                <mat-form-field>
                    <mat-label>{{ 'Type' | translate}} </mat-label>
                    <mat-select [formControl]="rawGeometryCtrl">
                        <mat-option *ngFor="let field of getGeoPointFields()" [value]="field">{{field}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div description>
               
            </div>
        </app-config-element>
    </div>
    
</app-edit-layer-mode-form>