<div [formGroup]="getMapConfigFormGroup()">

    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>Geographical operator</mat-label>
                <mat-select formControlName="geographicalOperator">
                    <mat-option *ngFor="let ope of operators | keyvalue" value="{{ope.value}}">{{ope.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div description>
            It is used to..
        </div>
    </app-config-element>

    <app-config-element>
        <div form-fields>
            <ng-container formArrayName="targetGeometries">
                <div *ngFor="let control of this.targetGeometries.controls; let i = index" class="map-global-geo-field">
                    <mat-label class="label">{{collections[i]}}</mat-label>
                    <mat-form-field>
                        <mat-label>Geographical field</mat-label>

                        <mat-select [formControlName]="i">
                            <mat-option *ngFor="let geoField of this.getGeoFields(collections[i]);" value="{{geoField}}">{{geoField}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <div description>
            For each collection choose the geographical field used to filter data on the map
        </div>
    </app-config-element>
</div>