<div [formGroup]="globalFg">

    <app-config-element>
        <div form-fields>
            <mat-form-field>
                <mat-label>Geographical operator</mat-label>
                <mat-select formControlName="geographicalOperator">
                    <mat-option *ngFor="let ope of operators | keyvalue" value="{{ope.value}}">{{ope.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div description>
            It is used to..
        </div>
    </app-config-element>

    <app-config-element>
        <div form-fields>
            <ng-container formArrayName="requestGeometries">
                <div *ngFor="let control of requestGeometries.controls; let i = index" class="map-global-geo-field">
                    <ng-container [formGroup]="control">
                        <mat-form-field class="label">
                            <input matInput formControlName="collection">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Geographical field</mat-label>

                            <mat-select formControlName="requestGeom">
                                <mat-option *ngFor="let geoField of this.getGeoFields(collections[i]);"
                                    value="{{geoField}}">{{geoField}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div description>
            For each collection choose the geographical field used to filter data on the map
        </div>
    </app-config-element>
</div>