<div class="groups-wrapper" [formGroup]="contentFg">
    <mat-error *ngIf="groupsFa.touched && groupsFa?.errors?.required">
        {{'At least one group is required within a tab' | translate}}
    </mat-error>
    <div formArrayName="groupsFa" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let group of groupsFa.controls; index as i;" [formGroupName]="i" cdkDrag class="group-wrapper">
            <div class="edit-group">
                <div class="edit-group-form">
                    <div>
                        <div>
                            <mat-form-field>
                                <mat-label>Icon</mat-label>
                                <input matInput formControlName="icon">
                                <mat-hint>Available icons <a href="https://material.io/resources/icons/?style=baseline"
                                        target="_blank">here</a></mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="title">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Type</mat-label>
                                <mat-select formControlName="contentType">
                                    <mat-optgroup *ngFor="let typesGrp of contentTypes | keyvalue:unsorted"
                                        [label]="typesGrp.key | translate">
                                        <mat-option *ngFor="let type of typesGrp.value" [value]="type">
                                            {{type | translate}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-error
                                *ngIf="getGroup(i).controls.content.touched && getGroup(i).controls.content.errors?.required">
                                {{'The component(s) within isn\'t/aren\'t valid' | translate}}
                            </mat-error>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <div cdkDragHandle>
                            <mat-icon svgIcon="move" [matTooltip]="'Reorder group' | translate"></mat-icon>
                        </div>
                        <div>
                            <button mat-icon-button (click)="groupsFa.removeAt(i)"
                                [matTooltip]="'Delete group' | translate">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preview-group">
                Preview
            </div>
        </div>
    </div>

    <div class="add-button">
        <button mat-fab (click)="addGroup()" [matTooltip]="'Add group' | translate">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>