<ng-container [formGroup]="formFg">
    <mat-horizontal-stepper #stepper class="stepper-for-config-element">

        <mat-step label="'Collection' | translate" formGroupName="collectionStep"
            [stepControl]="formFg.get('collectionStep')">
            <app-config-element>
                <div form-fields>
                    <mat-form-field>
                        <mat-label>{{ 'Collection' | translate}}</mat-label>
                        <mat-select formControlName="collection"
                            appAlertOnChange="changing the collection will reset the rendered geometry"
                            [dependants]="[geometry, colorFg]">
                            <mat-option *ngFor="let collection of this.mainformService.getCollections()"
                                value="{{collection}}">{{collection}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div description>
                </div>
            </app-config-element>
            <div>
                <button mat-button matStepperNext type="button">{{ 'Next' | translate}}</button>
            </div>
        </mat-step>

        <mat-step label="'Geometry' | translate" formGroupName="geometryStep"
            [stepControl]="formFg.get('geometryStep')">
            <ng-content select="[rendered-geometry]"></ng-content>
            
            <ng-content select="[additional-geometry]"></ng-content>
            <ng-content select="[requested-geometry]"></ng-content>
            <ng-content select="[displayed-geometry]"></ng-content>
            <div>
                <button mat-button matStepperPrevious>{{ 'Back' | translate}}</button>
                <button mat-button matStepperNext type="button">{{ 'Next' | translate}}</button>
            </div>
        </mat-step>

        <mat-step label="'Visibility' | translate" formGroupName="visibilityStep"
            [stepControl]="formFg.get('visibilityStep')">
            <mat-error *ngIf="formFg.controls.visibilityStep.errors?.lte">
                {{ 'Zoom max must be greater than or equal to zoom min' | translate}}
            </mat-error>
            <app-config-element>
                <div form-fields>
                    <mat-slide-toggle formControlName="visible" labelPosition="before">{{ 'Visible' | translate}}
                    </mat-slide-toggle>
                </div>
                <div description>
                    {{ 'description' | translate}}
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <mat-label>{{ 'Zoom min' | translate}}</mat-label>
                    <mat-slider thumbLabel formControlName="zoomMin" min="1" max="20"
                        (input)="ensureMinLessThanMax($event.value, zoomMin, zoomMax, 'min')" thumbLabel="true">
                    </mat-slider>
                </div>
                <div description>
                    {{ 'zoom min etc' | translate}}
                </div>
            </app-config-element>
            <app-config-element>
                <div form-fields>
                    <mat-label>{{ 'Zoom max' | translate}}</mat-label>
                    <mat-slider thumbLabel formControlName="zoomMax" min="1" max="20"
                        (input)="ensureMinLessThanMax($event.value, zoomMin, zoomMax, 'max')"></mat-slider>
                </div>
                <div description>
                    {{ 'zoom max etc' | translate}}
                </div>
            </app-config-element>
            <ng-content select="[features-min-max]"></ng-content>
            <div>
                <button mat-button matStepperPrevious>{{ 'Back' | translate}}</button>
                <button mat-button matStepperNext type="button">{{ 'Next' | translate}}</button>
            </div>
        </mat-step>

        <mat-step label="'Style' | translate" formGroupName="styleStep" [stepControl]="formFg.get('styleStep')">
            <ng-content select="[geometry-type]"></ng-content>
            <app-config-element [hidden]="formFg.value?.styleStep?.geometryType === GEOMETRY_TYPE.heatmap">
                <div form-fields>
                    <mat-label>{{ 'Opacity' | translate}}</mat-label>
                    <mat-slider thumbLabel formControlName="opacity" min="0" max="1" thumbLabel="true" step="0.1">
                    </mat-slider>
                </div>
                <div description>
                    {{ 'opacity...' | translate}}
                </div>
            </app-config-element>

            <app-config-element>
                <div form-fields>
                    <app-property-selector propertyName="color" [propertyType]="PROPERTY_TYPE.color"
                        formControlName="colorFg" [collection]="collection.value"
                        [submit]="submitSubject.asObservable()" defaultKey="map.layer.styleStep.colorFg"
                        [sources]="colorFgSources" [aggregated]="aggregatedMode">
                    </app-property-selector>

                </div>
                <div description>
                    <p>
                        {{ 'Fix: use a fix color.' | translate}}
                    </p>
                    <p>
                        {{ 'Provided by a field: select a field whose values are the colors to use.' | translate}}
                    </p>
                    <p>
                        {{ 'Generated from a field: select a field of type \'keyword\', then a color will be generated for every possible value.' | translate}}
                    </p>
                    <p>
                        {{ 'Choosen from a field: select a field of type \'keyword\', then select a color for every possible value.' | translate}}
                    </p>
                    <p>
                        {{ 'Interpolated from a field: select a number or date field, colors will be lineary interpolated between the min and the max.' | translate}}
                    </p>
                </div>
            </app-config-element>
            <!-- using [hidden] instead of ng-if because otherwise, each time the condition is true,
            ut creates a new subform instance without cleaning the previous ones -->
            <app-config-element [hidden]="formFg.value?.styleStep?.geometryType !== GEOMETRY_TYPE.line">
                <div form-fields>
                    <app-property-selector propertyName="width" [propertyType]="PROPERTY_TYPE.number"
                        formControlName="widthFg" [collection]="collection.value"
                        [submit]="submitSubject.asObservable()" defaultKey="map.layer.styleStep.widthFg"
                        [sources]="widthFgSources" [aggregated]="aggregatedMode">
                    </app-property-selector>

                </div>
                <div description>
                    <p>
                        {{'Fix: use a fix width' | translate}}
                    </p>
                    <p>
                        {{'Interpolated from a field: select a number or date field, width will be lineary interpolated between the min and the max.' | translate}}
                    </p>
                </div>
            </app-config-element>
            <!-- using [hidden] instead of ng-if because otherwise, each time the condition is true,
            ut creates a new subform instance without cleaning the previous ones -->
            <app-config-element [hidden]="formFg.value?.styleStep?.geometryType !== GEOMETRY_TYPE.circle && formFg.value?.styleStep?.geometryType !== GEOMETRY_TYPE.heatmap">
                <div form-fields>
                    <app-property-selector propertyName="radius" [propertyType]="PROPERTY_TYPE.number"
                        formControlName="radiusFg" [collection]="collection.value"
                        [submit]="submitSubject.asObservable()" defaultKey="map.layer.styleStep.radiusFg"
                        [sources]="radiusFgSources" [aggregated]="aggregatedMode">
                    </app-property-selector>

                </div>
                <div description>
                    <p>
                        {{'Fix: use a fix width' | translate}}
                    </p>
                    <p>
                        {{'Interpolated from a field: select a number or date field, radius will be lineary interpolated between the min and the max.' | translate}}
                    </p>
                </div>
            </app-config-element>
             <!-- using [hidden] instead of ng-if because otherwise, each time the condition is true,
            ut creates a new subform instance without cleaning the previous ones -->
            <app-config-element [hidden]="formFg.value?.styleStep?.geometryType !== GEOMETRY_TYPE.heatmap">
                <div form-fields>
                    <app-property-selector propertyName="weight" [propertyType]="PROPERTY_TYPE.number"
                        formControlName="weightFg" [collection]="collection.value"
                        [submit]="submitSubject.asObservable()" defaultKey="map.layer.styleStep.weightFg"
                        [sources]="weightFgSources" [aggregated]="aggregatedMode">
                    </app-property-selector>

                </div>
                <div description>
                    <p>
                        {{'Fix: use a fix width' | translate}}
                    </p>
                    <p>
                        {{'Interpolated from a field: select a number or date field, weight will be lineary interpolated between the min and the max.' | translate}}
                    </p>
                </div>
            </app-config-element>
             <!-- using [hidden] instead of ng-if because otherwise, each time the condition is true,
            ut creates a new subform instance without cleaning the previous ones -->
            <app-config-element [hidden]="formFg.value?.styleStep?.geometryType !== GEOMETRY_TYPE.heatmap">
                <div form-fields>
                    <app-property-selector propertyName="intensity" [propertyType]="PROPERTY_TYPE.number"
                        formControlName="intensityFg" [collection]="collection.value"
                        [submit]="submitSubject.asObservable()" defaultKey="map.layer.styleStep.intensityFg"
                        [sources]="intensityFgSources" [aggregated]="aggregatedMode">
                    </app-property-selector>

                </div>
                <div description>
                    <p>
                        {{'Fix: use a fix width' | translate}}
                    </p>
                    
                
                </div>
            </app-config-element>
            <button mat-button matStepperPrevious>{{ 'Back' | translate}}</button>
        </mat-step>

    </mat-horizontal-stepper>
</ng-container>