<div *ngIf="!this.selectedPalette">
    <h1 mat-dialog-title>{{ 'Select a template palette' | translate}}</h1>
    <div mat-dialog-content>
        <div *ngFor="let palette of defaultPalettes; let i = index"
             onKeyDown="selectPalette(i);"
             (click)="selectPalette(i)"
             class="palette-selector"
             [ngStyle]="{'background': palette.length > 1 ? 'linear-gradient(to right, ' + (palette | paletteGradient:data.min:data.max) + ')' : palette[0].value}">
        </div>
    </div>
</div>

<div *ngIf="selectedPalette">
    <h1 mat-dialog-title>{{ 'Customize the palette' | translate}}</h1>
    <div mat-dialog-content>
        <div class="palette-gradient"
            [ngStyle]="{'background': selectedPalette.length > 1 ? 'linear-gradient(to right, ' +  (selectedPalette | paletteGradient:data.min:data.max) + ')' : selectedPalette[0].value}">
            <div class="parent-gradient-buttons">
                <button mat-mini-fab (click)="reverse()"
                    matTooltip="{{ 'Reverse the colors order' | translate}}" matTooltipPosition="left">
                    <mat-icon>swap_horiz</mat-icon>
                </button>
                <button mat-mini-fab (click)="resetProportions()"
                    matTooltip="{{ 'Reset the colors midpoints' | translate}}" matTooltipPosition="right">
                    <mat-icon>settings_backup_restore</mat-icon>
                </button>
            </div>
        </div>
        <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" class="color-panel-list">
            <div *ngFor="let propColor of selectedPalette; let i = index" cdkDrag>
                <div class="color-panel">
                    <div class="color">
                        <arlas-color-picker-wrapper [value]="propColor.value"
                            (setValue)="selectedPalette[i].value = $event">
                        </arlas-color-picker-wrapper>
                        <arlas-color-picker-wrapper *cdkDragPreview [value]="propColor.value">
                        </arlas-color-picker-wrapper>
                    </div>
                    <div class="color-buttons">
                        <button mat-mini-fab cdkDragHandle matTooltip="{{ 'Reorder this color' | translate}}" matTooltipPosition="left">
                            <mat-icon>open_with</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="add(i)" matTooltip="{{ 'Add new color' | translate}}">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="remove(i)" *ngIf="selectedPalette.length > 2"
                            matTooltip="{{ 'Remove color' | translate}}">
                            <mat-icon>remove</mat-icon>
                        </button>
                       <div class="slider-form-control">
                           <div class="slider-container">
                               <mat-form-field class="slider-input" appearance="outline">
                                   <input   matInput type="number"  [(ngModel)]="selectedPalette[i].proportion"
                                            [step]="(data.max - data.min) / 20"
                                            [min]="data.min"
                                            [max]="data.max" >
                               </mat-form-field>
                               <mat-slider ngDefaultControl [min]="data.min" [max]="data.max" [step]="(data.max - data.min) / 20"
                            matTooltip="{{ 'Change color midpoint' | translate}}" matTooltipPosition="right">
                            <input matSliderThumb [(value)]="selectedPalette[i].proportion"/></mat-slider>
                       </div>
                       </div>
                    </div>
                </div>
                <div *cdkDragPlaceholder class="color-panel">
                    <div class="color">
                        <arlas-color-picker-wrapper [value]="propColor.value"
                            (setValue)="selectedPalette[i].value = $event">
                        </arlas-color-picker-wrapper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions class="action-buttons-palette">
    <div>
        <button mat-button [mat-dialog-close]="undefined">{{ 'Cancel' | translate}}</button>
        <button mat-button (click)="selectedPalette = null"
            *ngIf="selectedPalette">{{ 'Back to templates' | translate}}</button>
    </div>
    <div>
        <button mat-button color="primary" mat-raise *ngIf="selectedPalette" [mat-dialog-close]="selectedPalette"
            [disabled]="!isValid()">{{ 'Save' | translate}}</button>
    </div>
</div>
