<div *ngIf="!this.selectedPalette">
    <h1 mat-dialog-title>Select a template palette</h1>
    <div mat-dialog-content>
        <div *ngFor="let palette of defaultPalettes; let i = index" class="palette-selector" mat-button>
            <div *ngFor="let color of palette" class="color" [ngStyle]="{'background-color': color}"
                (click)="selectPalette(i)">
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedPalette">
    <h1 mat-dialog-title>Customize the palette</h1>
    <div mat-dialog-content>
        <div class="palette-customize">
            <div *ngFor="let color of selectedPalette; let i = index" class="color">
                <app-color-picker [value]="color" (setValue)="selectedPalette[i] = $event">
                </app-color-picker>
            </div>
        </div>
        <div class="palette-gradient"
            [ngStyle]="{'background': 'linear-gradient(to right, ' + selectedPalette.join(', ') + ')'}">
        </div>
    </div>
</div>

<div mat-dialog-actions class="action-button">
    <div>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="selectedPalette = null" *ngIf="selectedPalette">Back to templates</button>
    </div>
    <div>
        <button mat-button *ngIf="selectedPalette" [mat-dialog-close]="selectedPalette">Save</button>
    </div>
</div>